<app-lock package="2"></app-lock>

<div class="container content-container" *ngIf="user.getPackage() >= 2">
    <form [formGroup]="topLevelForm" class="form" (ngSubmit)="topLevelForm.valid && submit()" novalidate>
    <div class="row">
        <div class="col-md-6 col-lg-5">
            <div class="card">
                <h6 class="card-header">{{ 'PROMOTIONS.CREATE_NEW' | translate }}</h6>                
                <div class="card-body">
                    <promotion-info [topLevelForm]="topLevelForm"></promotion-info>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-7">
            <div class="card">
                <h6 class="card-header">{{ 'PROMOTIONS.TARGET' | translate }}</h6>                
                <div class="card-body">
                    <promotion-filter [topLevelForm]="topLevelForm">
                    </promotion-filter>
                    <div style="float:right">
                    <app-submit-button value="{{ 'PROMOTIONS.SEND_CAMPAIGN_BUTTON' | translate }}" 
                        loadingValue="{{ 'COMMON.LOADING' | translate }}" buttonClass="btn btn-lg btn-primary"
                        [form]="topLevelForm" [subscription]="submitSubscription">
                    </app-submit-button>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- <pre>{{ topLevelForm.value | json }}</pre> -->
    <div class="row">
        <div class="col">
            <app-promotion-list [reload]="reload"></app-promotion-list>
        </div>
    </div>
</div>