<div class="row">
    <div class="col">
        <div class="card text-center sms-campaign">
            <img class="card-img-top" src="./assets/images/sms-campaign.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">SMS marketing campaigns</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a class="btn btn-outline-info" routerLink="new">
                    Create SMS campaign
                </a>     
                <a class="btn btn-outline-secondary" routerLink="list">
                    See created campaigns
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center email-campaign mb-3">
            <img class="card-img-top" src="./assets/images/email-campaign.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Email marketing campaigns</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a class="btn btn-outline-success" (click)="openEmailModal()">Get email campaign tool</a>                                
            </div>          
        </div>
    </div>
</div>