<div class="card card-address">
    <div class="card-body" [style.padding]="cardPadding">
        
        <div *ngIf="!minimal" class="form-group">
            <label for="address">{{ 'COMMON.ADDRESS' | translate }}</label>
            <input placeholder="{{ 'COMMON.SEARCH_LOCATION' | translate }}" autocorrect="off" 
                autocapitalize="off" spellcheck="off" type="text" class="form-control  form-control-sm" 
                #search [formControl]="searchControl">            
        </div>

        <ng-container *ngIf="addressForm" [formGroup]="addressForm" class="address">
            <div *ngIf="!minimal" class="form-group country" [ngClass]="{'hidden': hideCountry}">
                <label for="country">{{ 'COMMON.COUNTRY' | translate }}<span *ngIf="required">*</span></label>
                <app-autocomplete source="countries" name="country" id="country" [required]="required"
                    formControlName="country" small="true" (onChange)="countryChanged($event)">
                </app-autocomplete>
            </div>

            <div *ngIf="!minimal || showAddressLine1()" class="form-group">
                <label for="addressLine1">{{ 'COMMON.ADDRESS_LINE_1' | translate }}<span *ngIf="required">*</span></label>
                <input type="text" class="form-control form-control-sm" id="addressLine1" 
                       formControlName="addressLine1" [required]="required"/>
            </div>
            <div *ngIf="!minimal" class="form-group">
                <label for="addressLine2">{{ 'COMMON.ADDRESS_LINE_2' | translate }}</label>
                <input type="text" class="form-control form-control-sm" id="addressLine2" 
                       formControlName="addressLine2"/>
            </div>
            <div class="form-group" *ngIf="combineCityZipCode()">
                <label for="zipCodeCity">{{ 'COMMON.ZIP_CODE' | translate }}/{{ 'COMMON.CITY' | translate }}<span *ngIf="required">*</span></label>
                <app-autocomplete [source]="'cities-' + getCountryCode()" name="zipCodeCity" id="zipCodeCity"
                    formControlName="cityZipCode" small="true" (onChange)="zipCodeCityChanged($event)" [required]="required">
                </app-autocomplete>
                <div *ngIf="cityZipCodeControl.invalid && cityZipCodeControl.touched" class="invalid-field">
                    {{ 'FORM.INVALID_VALUE' | translate }}
                </div>
            </div>
            <div *ngIf="isDefault() && !combineCityZipCode()" class="form-group">
                <label for="zip">{{ 'COMMON.ZIP_CODE' | translate }}<span *ngIf="required">*</span></label>
                <input type="text" class="form-control form-control-sm" id="zip"
                       formControlName="zipCode" [required]="required"/>
            </div>
            <div *ngIf="isDefault() && !combineCityZipCode()" class="form-group">
                <label for="city">{{ 'COMMON.CITY' | translate }}<span *ngIf="required">*</span></label>
                <input type="text" class="form-control form-control-sm" id="city"
                       formControlName="city" [required]="required"/>
            </div>
            <div *ngIf="showEmirate()" class="form-group">
                <label for="state">{{ 'COMMON.EMIRATE' | translate }}<span *ngIf="required">*</span></label>
                <app-autocomplete [source]="'states-' + getCountryCode()" name="state" id="state" [required]="required"
                    formControlName="state" small="true" (onChange)="onStateChange($event)" openOnFocus="true">
                </app-autocomplete>
                <div *ngIf="stateControl.invalid && stateControl.touched" class="invalid-field">
                    {{ 'FORM.INVALID_VALUE' | translate }}
                </div>
            </div>
            <div *ngIf="showCity()" class="form-group">
                <label for="city">{{ 'COMMON.CITY' | translate }}<span *ngIf="required">*</span></label>
                <app-autocomplete [source]="'cities-' + getCountryCode()" name="city" id="city"
                    formControlName="city" small="true" (onChange)="onCityChange($event)" 
                    openOnFocus="true" [parent]="state" [required]="required">
                </app-autocomplete>
                <div *ngIf="cityControl.invalid && cityControl.touched" class="invalid-field">
                    {{ 'FORM.INVALID_VALUE' | translate }}
                </div>
            </div>
            <div *ngIf="showArea()" class="form-group">
                <label for="area">{{ 'COMMON.AREA' | translate }}<span *ngIf="required">*</span></label>
                <app-autocomplete [source]="'areas-' + getCountryCode()" name="area" id="area" [required]="required"
                    formControlName="area" small="true" openOnFocus="true" limit="100" [parent]="city || state">
                </app-autocomplete>
                <div *ngIf="areaControl.invalid && areaControl.touched" class="invalid-field">
                    {{ 'FORM.INVALID_VALUE' | translate }}
                </div>
            </div>
        </ng-container>

        <div *ngIf="!addressForm" class="address">
            <div class="row">
                <div *ngIf="!minimal" class="col">
                    <div class="form-group country" [ngClass]="{'hidden': hideCountry}">
                        <label for="country">{{ 'COMMON.COUNTRY' | translate }}<span *ngIf="required">*</span></label>
                        <app-autocomplete source="countries" name="country" id="country" [required]="required"
                            [(ngModel)]="address.country" small="true" (onChange)="countryChanged($event)">
                        </app-autocomplete>
                    </div>
                </div>
                <div *ngIf="!minimal || showAddressLine1()" class="col">
                    <div class="form-group">
                        <label for="addressLine1">{{ 'COMMON.ADDRESS_LINE_1' | translate }}<span *ngIf="required">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="addressLine1" 
                            [(ngModel)]="address.addressLine1" [required]="required" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="!minimal" [ngClass]="{'col-12': !showEmirate() && showArea(), 'col': showEmirate() || !showArea()}">
                    <div class="form-group">
                        <label for="addressLine2">{{ 'COMMON.ADDRESS_LINE_2' | translate }}</label>
                        <input type="text" class="form-control form-control-sm" id="addressLine2" 
                            [(ngModel)]="address.addressLine2" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" *ngIf="showEmirate()">
                        <label for="state">{{ 'COMMON.EMIRATE' | translate }}<span *ngIf="required">*</span></label>
                        <app-autocomplete [source]="'states-' + getCountryCode()" name="state" id="state" [required]="required"
                            [(ngModel)]="address.state" small="true" (onChange)="onStateChange($event)" openOnFocus="true">
                        </app-autocomplete>
                    </div>
                    <div class="form-group" *ngIf="!showArea()">
                        <label for="zip">{{ 'COMMON.ZIP_CODE' | translate }}<span *ngIf="required">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="zip"
                            [(ngModel)]="address.zipCode" [required]="required" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="city">{{ 'COMMON.CITY' | translate }}<span *ngIf="required">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="city"
                            [(ngModel)]="address.city" [required]="required" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" *ngIf="showArea()">
                        <label for="area">{{ 'COMMON.AREA' | translate }}<span *ngIf="required">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="area"
                            [(ngModel)]="address.area" [required]="required" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="map" *ngIf="showMap">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="onChoseLocation($event)">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>