<div class="modal-header">
    <h4 class="modal-title">{{ 'CUSTOMERS.ADD' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-alert [(error)]="error" errorMessage="{{ 'COMMON.SERVER_ERROR' | translate }}">
    </app-alert>
    <app-customer-form (onSubmit)="saveCustomer($event)" (onPopulate)="populateSearch($event)"
        [submitSubscription]="saveSubscription" modal="true">
    </app-customer-form>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="sendEmail()" [disabled]="sending">Yes</button>
</div> -->