<div *ngIf="form" [ngClass]="{'small-height': modal}">
    <form [formGroup]="form" class="form" (ngSubmit)="submit()" novalidate>
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label for="gender">{{ 'COMMON.GENDER' | translate }}*</label>
                    <br />                        
                    <div class="form-check form-check-inline">
                        <input type="radio" name="gender" id="genderM" value="M"
                            formControlName="gender" class="form-check-input" required>
                        <label for="genderM" class="form-check-label">{{ 'COMMON.GENDER_M' | translate }}</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" name="gender" id="genderF" value="F"
                            formControlName="gender" class="form-check-input" required>
                        <label for="genderF" class="form-check-label">{{ 'COMMON.GENDER_F' | translate }}</label>
                    </div>
                    <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="invalid-field">
                        {{ 'FORM.REQUIRED' | translate }}
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="firstname">{{ 'COMMON.FIRSTNAME' | translate }}*</label>
                    <input type="text" class="form-control form-control-sm" id="firstname" formControlName="firstname" required />
                    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="invalid-field">
                        {{ 'FORM.REQUIRED' | translate }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">{{ 'COMMON.LASTNAME' | translate }}*</label>
                    <input type="text" class="form-control form-control-sm" id="lastname" formControlName="lastname" required />
                    <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="invalid-field">
                        {{ 'FORM.REQUIRED' | translate }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthdate">{{ 'COMMON.BIRTHDATE' | translate }}*</label>
                    <div class="input-group">
                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" formControlName="birthdate"
                                id="birthdate" ngbDatepicker #ngBirthdate="ngbDatepicker">
                        <button class="input-group-addon" (click)="ngBirthdate.toggle()" type="button">
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)" class="invalid-field">
                        {{ 'FORM.INVALID_DATE' | translate }} (ex: 1900-12-31)
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile">{{ 'COMMON.MOBILE_NO' | translate }}*</label>
                    <!-- <input type="text" class="form-control form-control-sm" id="mobile" formControlName="mobile" required /> -->
                    <!-- <int-phone-prefix [locale]="'fr'" formControlName="mobile"></int-phone-prefix> -->
                    <international-phone-number formControlName="mobile" [required]="true"
                        [small]="true" placeholder="{{ 'CUSTOMERS.MOBILE_PLACEHOLDER' | translate }}" 
                        [maxlength]="20" [defaultCountry]="!isEdit && (!mobile.value || !mobile.value.startsWith('+')) && user.getCountryCode().toLowerCase()">
                    </international-phone-number>
                    
                    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="invalid-field">
                        <div *ngIf="mobile.errors.required">
                            {{ 'FORM.REQUIRED' | translate }}
                        </div>
                        <div *ngIf="mobile.errors.phoneFormat">
                            Mobile number format is wrong
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">{{ 'COMMON.EMAIL' | translate }}*</label>
                    <input type="text" class="form-control form-control-sm" id="email" formControlName="email" />
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-field">
                        {{ 'FORM.INVALID_EMAIL' | translate }}
                    </div>
                </div> 
                <div class="form-group" *ngIf="isEdit && showLanguages">
                    <label for="comment">{{ 'CUSTOMERS.CUSTOMER_INFOS' | translate }}</label>
                    <textarea class="form-control form-control-sm" id="comment" name="comment"  rows="4" formControlName="comment"></textarea>
                </div>      
                <div class="form-group" *ngIf="!isEdit && showLanguages">
                    <label for="amount">{{ 'COMMON.AMOUNT' | translate }}*</label>
                    <input type="number" min="0" class="form-control form-control-sm" id="amount"
                            [placeholder]="user.getCurrency() || ''" formControlName="amount" required>
                    <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="invalid-field">
                        {{ 'FORM.REQUIRED' | translate }}
                    </div>
                </div>
                
                <div class="form-group" *ngIf="showCustomControl(2)">
                    <app-dynamic-field [resourceKey]="user.customerCustomFields.field2ResourceKey" 
                        [values]="user.customerCustomFields.field2List" [formControl]="customField2">
                    </app-dynamic-field>
                </div>
            </div>
            <div class="col-7">
                <div class="card card-languages">
                    <div class="card-body">
                        <label for="favoriteProducts">{{ 'CUSTOMERS.FAVORITE_PRODUCTS' | translate }}</label>
                        <div formArrayName="favoriteProducts">
                            <div *ngFor="let favoriteProduct of form.controls.favoriteProducts.controls; let i = index">
                                <div class="row language-control">
                                    <app-autocomplete class="language-picker col-9" small="true"
                                        [source]="products" [formControl]="favoriteProduct">
                                    </app-autocomplete>
                                    <div class="action-btn col">
                                        <button type="button" class="btn btn-danger btn-xs" 
                                                (click)="removeControl(i, 'favoriteProducts')" *ngIf="i > 0">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button *ngIf="i == form.controls.favoriteProducts.controls.length - 1"
                                                type="button" class="btn btn-success btn-xs" 
                                                (click)="addArrayControl('favoriteProducts')" 
                                                [disabled]="anyControlEmpty('favoriteProducts') || favoriteProduct.invalid">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row" *ngIf="favoriteProduct.invalid && (favoriteProduct.dirty || favoriteProduct.touched)" class="invalid-field">
                                        {{ 'FORM.INVALID_VALUE' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <app-address [group]="form.controls.address" hideCountry="true" minimal="true" required="true" cardPadding=".85rem"></app-address>
                
                <div *ngIf="showLanguages" class="card card-languages">
                    <div class="card-body">
                        <label for="languages">{{ 'COMMON.LANGUAGES' | translate }}</label>
                        <div formArrayName="languages">
                            <div *ngFor="let language of form.controls.languages.controls; let i = index">
                                <div class="row language-control">
                                    <app-autocomplete class="language-picker col-9" small="true"
                                                        source="languages" [formControl]="language">
                                    </app-autocomplete>
                                    <div class="action-btn col">
                                        <button type="button" class="btn btn-danger btn-xs" 
                                                (click)="removeControl(i, 'languages')" *ngIf="i > 0">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button *ngIf="i == form.controls.languages.controls.length - 1"
                                                type="button" class="btn btn-success btn-xs" 
                                                (click)="addArrayControl('languages')" 
                                                [disabled]="anyControlEmpty('languages') || language.invalid">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row" *ngIf="language.invalid && (language.dirty || language.touched)" class="invalid-field">
                                    {{ 'FORM.INVALID_VALUE' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="isEdit && !showLanguages">
                    <label for="comment">{{ 'CUSTOMERS.CUSTOMER_INFOS' | translate }}</label>
                    <textarea class="form-control form-control-sm" id="comment" name="comment"  rows="4" formControlName="comment"></textarea>
                </div>      
                <div class="form-group" *ngIf="!isEdit && !showLanguages">
                    <label for="amount">{{ 'COMMON.AMOUNT' | translate }}*</label>
                    <input type="number" min="0" class="form-control form-control-sm" id="amount"
                            [placeholder]="user.getCurrency() || ''" formControlName="amount" required>
                    <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="invalid-field">
                        {{ 'FORM.REQUIRED' | translate }}
                    </div>
                </div>
                
                <div class="form-group" *ngIf="showCustomControl(1)">
                    <app-dynamic-field [resourceKey]="user.customerCustomFields.field1ResourceKey" 
                       [values]="user.customerCustomFields.field1List" [formControl]="customField1">
                    </app-dynamic-field>
                </div>
                <div class="form-group" *ngIf="showCustomControl(3)">
                    <app-dynamic-field [resourceKey]="user.customerCustomFields.field3ResourceKey" 
                        [values]="user.customerCustomFields.field3List" [formControl]="customField3">
                    </app-dynamic-field>
                </div>
            </div>
        </div>
        <div class="text-align-center">
            <app-submit-button value="{{ 'COMMON.SAVE' | translate }}" buttonClass="btn btn-primary w-30"
                loadingValue="{{ 'COMMON.SAVING' | translate }}" [subscription]="submitSubscription">
            </app-submit-button>
        </div>
        <!-- <pre>{{ form.value | json }}</pre> -->
    </form>
</div>


<!-- <ng-template #commentAmountFields>
    <div class="form-group" *ngIf="isEdit">
        <label for="comment">{{ 'CUSTOMERS.CUSTOMER_INFOS' | translate }}</label>
        <textarea class="form-control form-control-sm" id="comment" name="comment"  rows="4" formControlName="comment"></textarea>
    </div>      
    <div class="form-group" *ngIf="!isEdit">
        <label for="amount">{{ 'COMMON.AMOUNT' | translate }}*</label>
        <input type="number" min="0" class="form-control form-control-sm" id="amount"
                [placeholder]="user.getCurrency()" formControlName="amount" required>
        <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="invalid-field">
            {{ 'FORM.REQUIRED' | translate }}
        </div>
    </div>
</ng-template> -->