<div *ngIf="form">
    <form [formGroup]="form" class="form" (ngSubmit)="form.valid && submit()" novalidate>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input type="radio" name="gender" id="genderM" value="M"
                    formControlName="gender" class="form-check-input">
                <label for="genderM" class="form-check-label">{{ 'COMMON.GENDER_M' | translate }}</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" name="gender" id="genderF" value="F"
                    formControlName="gender" class="form-check-input">
                <label for="genderF" class="form-check-label">{{ 'COMMON.GENDER_F' | translate }}</label>
            </div>
        </div>

        <div class="form-group">
            <label for="name">{{ 'COMMON.FIRSTNAME' | translate }}*</label>
            <input type="text" class="form-control" id="firstname" formControlName="firstname" required />
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="invalid-field">
                {{ 'FORM.REQUIRED' | translate }}
            </div>
        </div>
        <div class="form-group">
            <label for="lastname">{{ 'COMMON.LASTNAME' | translate }}*</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname" required />
            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="invalid-field">
                {{ 'FORM.REQUIRED' | translate }}
            </div>
        </div>
        <div class="form-group">
            <label for="mobile">{{ 'COMMON.MOBILE_NO' | translate }}*</label>
            <input type="text" class="form-control" id="mobile" formControlName="mobile" required />
            <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="invalid-field">
                <div *ngIf="mobile.errors.required">
                    {{ 'FORM.REQUIRED' | translate }}
                </div>
                <div *ngIf="mobile.errors.phoneFormat">
                    Mobile number format is wrong
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">{{ 'COMMON.EMAIL' | translate }}</label>
            <input type="text" class="form-control" id="email" formControlName="email" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-field">
                {{ 'FORM.INVALID_EMAIL' | translate }}
            </div>
        </div>
        <div class="form-group">
            <label for="birthdate">{{ 'COMMON.BIRTHDATE' | translate }}</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" formControlName="birthdate"
                        id="birthdate" ngbDatepicker #birthdate="ngbDatepicker">
                <button class="input-group-addon" (click)="birthdate.toggle()" type="button">
                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                </button>
            </div>
            <div *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)" class="invalid-field">
                {{ 'FORM.INVALID_DATE' | translate }}
            </div>
        </div>

        <div class="card card-languages">
            <div class="card-header">
                <label for="languages">{{ 'COMMON.LANGUAGES' | translate }}</label>
            </div>
            <div class="card-body">
                <div formArrayName="languages">
                    <div *ngFor="let language of form.controls.languages.controls; let i = index">
                        <div class="language-control" [ngClass]="{'first': i == 0}">
                            <app-autocomplete class="language-picker" 
                                              source="languages" [formControl]="language">
                            </app-autocomplete>
                            <button type="button" class="btn btn-danger btn-xs delete-btn" 
                                    (click)="removeLanguage(i)" *ngIf="i > 0">
                                <i class="fa fa-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary btn-xs" (click)="addLanguage()"
                        [disabled]="anyLanguageEmpty()">
                    <i class="fa fa-plus"></i> {{ 'COMMON.ADD_LANGUAGE' | translate }}
                </button>
            </div>
        </div>
        
        <app-address [group]="form.controls.address"></app-address>

        <!--<div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="receiveSms">
                Reveice SMS
            </label>
        </div>-->
        <div class="form-group" *ngIf="isEdit">
            <label for="comment">{{ 'CUSTOMERS.CUSTOMER_INFOS' | translate }}</label>
            <textarea class="form-control" id="comment" name="comment" 
                      rows="5" formControlName="comment"></textarea>
        </div>
        <div class="form-group" *ngIf="!isEdit">
            <label for="amount">{{ 'COMMON.AMOUNT' | translate }}*</label>
            <input type="number" min="0" class="form-control" id="amount"
                    placeholder="AED" formControlName="amount" required>
            <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="invalid-field">
                {{ 'FORM.REQUIRED' | translate }}
            </div>
        </div>
        <app-submit-button value="{{ 'COMMON.SAVE' | translate }}" 
                           loadingValue="{{ 'COMMON.SAVING' | translate }}" 
                           [form]="form" [subscription]="submitSubscription">
        </app-submit-button>
        <!-- <pre>{{ form.value | json }}</pre> -->
    </form>
</div>