:host {
    display:block;
}

.small-height {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    form {
        padding: 0 .4rem;
    }
}

.card-languages {
    margin-bottom: 1em;

    .card-body {
        padding: 0.85rem;
    }

    .language-control {
        margin-bottom: .5em;
    
        .action-btn {
            padding-top: .15rem;
            padding-left: 0;
            padding-right: 0;

            button {
                line-height: 1rem;
                padding: .1rem .25rem;
                padding-top: .2rem;
                border-radius: 3px;            
            }
        }
    
        .language-picker {    
            padding-right: .5rem;
        }
    }   
}