@import "~bootstrap/scss/bootstrap-grid.scss";
@import '../../../../styles/_variables';

:host {
    display:block;
}

.content-container {
    width: 95%;
    margin-top: 5rem;
}

.form-inline {
    margin-bottom: 1.4em;
    display: inline-block;
}

.points-detail {
    max-height: 30em;
    overflow: scroll;
}

.card-header.customer-form {
    font-size: 22px;
    color: $theme-color;
}

@media screen and (min-width: 900px) {
    .card-columns {
        column-count: 2;
    }
}

@media screen and (max-width: 900px) {
    .card-columns {
        column-count: 1;
    }
}