<div class="container content-container">
    <customer-search></customer-search>
        
    <div class="row" *ngIf="customer">
        <div class="col-12 col-lg-7">
            <div class="card">
                <div class="card-header customer-form">
                    <span>{{customer.firstname}} {{customer.lastname}}</span>
                    <span class="pull-right">Card no {{customer.cardNumber}}</span>
                </div>
                <div class="card-body">
                    <app-customer-form (onSubmit)="saveCustomer($event)" (onPopulate)="populateUser($event)"
                                        [submitSubscription]="saveSubscription" isEdit="true">
                    </app-customer-form>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="card">
                <h5 class="card-header">{{customer.firstname}} {{customer.lastname}} {{ 'CUSTOMERS.POINTS_BALANCE' | translate }}</h5>
                <div class="card-body text-align-center">
                    <div *ngIf="customer.discountAmount == null || useDiscountLater" class="entry-form">
                        <form class="form-inline" #entryF="ngForm" (ngSubmit)="entryF.valid && saveEntry()" novalidate>
                            <label for="amount">{{ 'CUSTOMERS.SAVE_ENTRY_LABEL' | translate:{currency: config.currency} }}</label>
                            <input type="number" min="0" class="form-control" id="amount" name="amount" style="max-width: 50%;"
                                placeholder="Amount" [(ngModel)]="newEntryAmount" #amount="ngModel" required>
                            <app-submit-button value="{{ 'CUSTOMERS.SAVE_ENTRY_BUTTON' | translate }}" 
                                loadingValue="{{ 'COMMON.LOADING' | translate }}" 
                                [form]="entryF.form" [subscription]="saveEntrySubscription">
                            </app-submit-button>
                        </form>
                    </div>
                    <div *ngIf="customer.discountAmount != null && !useDiscountLater" class="entry-form">
                        <div class="card-text">Eligible for a discount: {{ customer.discountAmount }} AED</div>
                        <form class="form-inline" (ngSubmit)="giveDiscount()" novalidate>
                            <app-submit-button value="{{ 'CUSTOMERS.GIVE_DISCOUNT_BUTTON' | translate }}" 
                                            loadingValue="{{ 'COMMON.LOADING' | translate }}"
                                            [subscription]="giveDiscountSubscription">
                            </app-submit-button>
                            <input type="button" class="btn btn-secondary" (click)="useDiscountLater = true"
                                    value="{{ 'CUSTOMERS.KEEP_DISCOUNT_BUTTON' | translate }}" />
                        </form>
                    </div>
                    <app-circle-progress subtitle="{{ 'CUSTOMERS.WHEEL_POINTS_SUBTITLE' | translate }}"
                        [title]="customer.currentPoints" 
                        backgroundColor="#fdbc00"
                        backgroundOpacity=1
                        backgroundStroke="#000000"
                        backgroundPadding="14"
                        radius=77
                        space=-9
                        maxPercent=100
                        unitsColor="#ffffff"
                        outerStrokeWidth=9
                        outerStrokeColor="#ffffff"
                        innerStrokeColor="#ffdf72"
                        innerStrokeWidth=9
                        titleColor="#ffffff"
                        titleFontSize="45"
                        subtitleColor="#ffffff"
                        subtitleFontSize=13
                        animationDuration=500
                        [showUnits]=false
                        [percent]="(customer.currentPoints / (customer.currentPoints + customer.pointsToDiscount)) * 100">
                    </app-circle-progress>
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <app-circle-progress [showSubtitle]="false"
                                [title]="(customer.totalPoints - customer.currentPoints)" 
                                backgroundColor="#0cb3c2"
                                backgroundOpacity=1
                                backgroundStroke="#000000"
                                backgroundPadding="10"
                                radius=40
                                space=-5
                                maxPercent=100
                                unitsColor="#ffffff"
                                outerStrokeWidth=5
                                outerStrokeColor="#ffffff"
                                innerStrokeColor="#ffdf72"
                                innerStrokeWidth=5
                                titleColor="#ffffff"
                                titleFontSize="25"
                                animationDuration=0
                                [showUnits]=false
                                percent="100">
                            </app-circle-progress>
                        </div>
                        <div class="col-12 col-sm-8 text-align-left cyan points-used">
                            <span>{{ 'CUSTOMERS.POINTS_USED' | translate }}</span>
                        </div>
                    </div>
                    <button (click)="sendApplicationSms()" class="btn btn-primary">Send Application SMS</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="customer">
        <div class="col-12 col-lg-7" *ngIf="customer.expenses && customer.expenses.length > 1">
            <div class="card">
                <h5 class="card-header">{{ 'CUSTOMERS.EXPENSES_CHART' | translate }}</h5>
                <div class="card-body">
                    <app-line-chart [data]="customer.expenses | expensesChart" (onSearch)="getExpenses($event)"
                                    [dataSubscription]="getExpensesSubscription">
                    </app-line-chart>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="card" *ngIf="customer.points && customer.points.length > 0">
                <h5 class="card-header">{{ 'CUSTOMERS.CURRENT_POINTS_DETAIL' | translate }}</h5>
                <div class="card-body points-detail">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>{{ 'COMMON.DATE' | translate }}</th>
                                <th>{{ 'COMMON.AMOUNT' | translate }}</th>
                                <th>{{ 'COMMON.POINTS' | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let point of customer.points | currentPoints">
                                <td>{{point.date | date: 'dd-MM-yyyy'}}</td>
                                <td class="cyan"><small>{{point.currency}}</small><b>{{point.correspondingAmount}}</b></td>
                                <td class="points"><b>1</b><small>{{ 'COMMON.PTS' | translate }}</small></td>
                                <td>
                                    <button class="btn btn-danger btn-xs" aria-label="Delete" (click)="openDeleteModal(point)"
                                            title="{{ 'COMMON.DELETE' | translate }}">
                                            {{ 'COMMON.DELETE' | translate }}
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="customer.purchaseData?.remainder">
                                <th scope="row">{{ 'COMMON.REMAINDER' | translate }}</th>
                                <td></td>
                                <td>{{customer.purchaseData?.remainder}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <!--<div class="card">
        <h5 class="card-header">Add existing points</h5>
        <div class="card-body">
            <form class="form">
                <div class="form-group">
                    <label for="points">Points</label>
                    <input type="number" min="0" class="form-control" id="points" placeholder="Points">
                </div>
                <div class="form-group">
                    <label for="points-amount">Amount</label>
                    <input type="number" min="0" class="form-control" id="points-amount" placeholder="Amount">
                </div>


                <button type="submit" class="btn btn-info">Save existing points</button>
            </form>
        </div>
    </div>-->
    <!--<div class="card">
        <h5 class="card-header">Promotions</h5>
        <div class="card-body">
            <div class="card-title">Promotion</div>
        </div>
    </div>-->
</div>