<customer-search></customer-search>

<div class="card-columns" *ngIf="customer">
    <div class="card">
        <h3 class="card-header">{{customer.firstname}} {{customer.lastname}}</h3>
        <div class="card-body">
            <p class="card-text">{{ 'CUSTOMERS.SAVE_ENTRY_LABEL' | translate }}</p>
            <form class="form-inline" #entryF="ngForm"
                  (ngSubmit)="entryF.valid && saveEntry()" novalidate>
                <input type="number" min="0" class="form-control" id="amount" name="amount"
                       placeholder="Amount" [(ngModel)]="newEntryAmount" #amount="ngModel" required>
                <app-submit-button value="{{ 'CUSTOMERS.SAVE_ENTRY_BUTTON' | translate }}" 
                                   loadingValue="{{ 'COMMON.LOADING' | translate }}" 
                                   [form]="entryF.form" [subscription]="saveEntrySubscription">
                </app-submit-button>
            </form>

            <div class="row" *ngIf="customer.lastEntry">
                <div class="col">{{ 'CUSTOMERS.LAST_ENTRY' | translate }}</div>
                <div class="col">{{customer.lastEntry | date: 'dd-MM-yyyy HH:mm'}}</div>
            </div>
            <div class="row" *ngIf="customer.firstEntry">
                <div class="col">{{ 'CUSTOMERS.FIRST_ENTRY' | translate }}</div>
                <div class="col">{{customer.firstEntry | date: 'dd-MM-yyyy HH:mm'}}</div>
            </div>
            <div class="row">
                <div class="col">{{ 'CUSTOMERS.HISTORY_POINTS' | translate }}</div>
                <div class="col">{{customer.totalPoints}} points ({{customer.purchaseData?.totalPurchaseAmountString}})</div>
            </div>
            <div class="row" *ngIf="customer.currentPoints">
                <div class="col">{{ 'COMMON.POINTS' | translate }}</div>
                <div class="col">{{customer.currentPoints}} points ({{customer.purchaseData?.currentPurchaseAmountString}})</div>
            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">{{ 'CUSTOMERS.EDIT_INFOS' | translate }}</h5>
        <div class="card-body">
            <app-customer-form (onSubmit)="saveCustomer($event)" (onPopulate)="populateUser($event)"
                               [submitSubscription]="saveSubscription">
            </app-customer-form>
        </div>
    </div>

    <div class="card" style="text-align:center">
        <h5 class="card-header">{{ 'CUSTOMERS.CURRENT_POINTS_DETAIL' | translate }}</h5>
        <div class="card-body points-detail">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>{{ 'COMMON.DATE' | translate }}</th>
                        <th>{{ 'COMMON.POINTS' | translate }}</th>
                        <th>{{ 'COMMON.AMOUNT' | translate }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let point of customer.points | currentPoints">
                        <td>{{point.date | date: 'dd-MM-yyyy HH:mm'}}</td>
                        <td>1</td>
                        <td>{{point.correspondingAmount}}</td>
                        <td>
                            <button class="btn btn-danger btn-xs" aria-label="Delete" (click)="openDeleteModal(point)"
                                    title="{{ 'COMMON.DELETE' | translate }}">
                                    {{ 'COMMON.DELETE' | translate }}
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="customer.purchaseData?.remainder">
                        <th scope="row">{{ 'COMMON.REMAINDER' | translate }}</th>
                        <td></td>
                        <td>{{customer.purchaseData?.remainder}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--<div class="card">
        <h5 class="card-header">Add existing points</h5>
        <div class="card-body">
            <form class="form">
                <div class="form-group">
                    <label for="points">Points</label>
                    <input type="number" min="0" class="form-control" id="points" placeholder="Points">
                </div>
                <div class="form-group">
                    <label for="points-amount">Amount</label>
                    <input type="number" min="0" class="form-control" id="points-amount" placeholder="Amount">
                </div>


                <button type="submit" class="btn btn-info">Save existing points</button>
            </form>
        </div>
    </div>-->
    <div class="card" *ngIf="customer && customer.expenses && customer.expenses.length > 1">
        <h5 class="card-header">{{ 'CUSTOMERS.EXPENSES_CHART' | translate }}</h5>
        <div class="card-body">
            <app-line-chart [data]="customer.expenses | expensesChart"></app-line-chart>
        </div>
    </div>
    <!--<div class="card">
        <h5 class="card-header">Promotions</h5>
        <div class="card-body">
            <div class="card-title">Promotion</div>
        </div>
    </div>-->
</div>
