@import '../../../styles/_variables';

:host {
    display: block;
    height: 3.5em;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

@media (max-width: 767.98px) {
    :host {
        left: 0;
    }

    .date-filter {
        margin-left: 35px;
    }
}

@media (min-width: 768px) {
    :host {        
        left: $sidebar-width;
    }

    .username {
        margin-right: 1.5em;
    }
}

.navbar {
    background-color: $theme-color !important;

    a, i {
        color: white;
    }

    input {
        width: 130px;
    }

    .btn {
        border: 0;
    }

    .btn.today {
        background-color: #b3b3b3;
    }

    .btn.week {
        background-color: #949494;
    }

    .btn.month {
        background-color: #737373;
    }

    .btn.year {
        background-color: #4b4b4b;
    }

    .btn.all {
        background-color: #303030;
    }
}