@import "~bootstrap/scss/bootstrap";
@import '../../../styles/variables';

:host {
    display: block;
}

//Top Header
header {
    div.banner {
        min-height: 40px;
        background: none;

        .aep-logos {
            margin-left: 30px;
        }

        .aep-logo {
            float: left;
            max-height: 50px;
            margin-top: 10px;
        }

        .aep-logo.mr-left-20 {
            margin-left: 20px;
        }
    }
}

//Profile and Language Panels
.aep-profile {
    margin-right: 30px;
    margin-top: 5px;
}

.profile-panel {
    float: left;

    .avatar {
        position: relative;
        height: 38px;
        width: 38px;
        overflow: hidden;
        border-radius: 50%;
        float: left;
        margin-right: 8px;

        img {
            max-height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .username {
        line-height: 38px;
        padding-left: 5px;
    }

    .profile-menu {
        list-style: none;
        padding: 0;
        margin-top: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(204, 204, 204, 1);
        cursor: pointer;

        .sub-profile-menu {
            padding: 0;
            border-radius: 0;
            top: 50px;

            li {
                a {
                    float: left;
                    width: 100%;
                    padding: 10px;
                    display: block;
                    cursor: pointer;
                    text-decoration: none;
                    color: rgba(121, 11, 6, 1);
                    transition: all .2s ease;
                }

                &:hover {
                    a {
                        background-color: rgba(121, 11, 6, 1);
                        color: #ffffff;
                        transition: all .2s ease;
                    }
                }
            }
        }
    }
}

.language-panel {
    float: left;
    margin-top: 10px;
    line-height: 40px;
    margin-left: 10px;
    font-size: 14px;
    color: rgba(77, 77, 77, 1);
}

// Navigation
.eap-navigation {
    background-color: $theme-color;
    height: 50px;

    .navbar-nav {
        > li {
            height: 50px;
            margin-right: 5px;
            transition: all 0.2s ease;

            &:hover {
                a {
                    color: rgba(255, 255, 255, 1);
                    background: none;
                    border: 0;
                    border-bottom: 6px solid rgba(217, 160, 54, 1) !important;
                    transition: all 0.2s ease;
                }
            }

            a.active {
                color: rgba(255, 255, 255, 1);
                background: none;
                border: 0;
                border-bottom: 6px solid rgba(217, 160, 54, 1) !important;
                transition: all 0.2s ease;
            }

            > a {
                display: block;
                padding: 0 12px;
                line-height: 50px;
                height: 100%;
                transition: all 0.2s ease;
            }
        }

        > li.active {
            a {
                color: rgba(255, 255, 255, 1);
                background: none;
                border-bottom: 6px solid rgba(217, 160, 54, 1);
                transition: all 0.2s ease;
            }
        }
    }

    .unified-navigation {
        li {
            a {
                font-size: 14px;
                color: rgba(255, 255, 255, 1);
                text-decoration: none;
            }
        }
    }
}

// Style Switcher
.style-switcher {
    display: none;
}

// Responsive Classes
.mobile-logo {
    display: none;
}

.mob-menu {
    display: none;
}
// Responsive Queries
// Smartphones Breakpoint
@media screen and (max-width: 736px) {
}

// Tablets Breakpoint
@media screen and (max-width: 1024px) {
    .navbar-light .navbar-toggler {
        border: 0;
        cursor: pointer;
        outline: none;
    }

    .unified-navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .unified-navbar .dropdown-toggle::after {
        display: none;
    }

    .unified-navbar.show .unified-collapse {
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        background: $theme-color;
        z-index: 9999;
    }

    .mob-menu {
        display: block;
    }

    .mob-menu a {
        cursor: pointer;
    }

    .mob-menu.seperator {
        height: 1px !important;
        background: white;
    }

    .unified-navigation li > a:hover,
    .unified-navigation li > a.active {
        border-bottom: 0 !important;
        border-left: 2px solid #d9a036;
    }
}

.only-mobile {
    display: none;
}

@include media-breakpoint-up(md) {
    .unified-navigation {
        margin-left: 60px;
    }

    .only-desktop {
        display: initial;
    }
}

@include media-breakpoint-down(md) {
    .only-desktop {
        display: none;
    }
}

// Unified Desktop Required Widht (993px - main break)
@media screen and (max-width: 830px) {
    header .banner {
        display: none;
    }

    .eap-navigation {
        height: 48px;
    }

    .eap-navigation .navbar-toggler-icon {
        margin-top: 6px;
    }

    .eap-navigation .fa-bars {
        color: #fff;
    }

    .eap-navigation .mobile-logo {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    .unified-navbar.show .unified-collapse {
        top: 48px;
    }

    .only-mobile {
        display: initial;
    }
}