<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="user.isAuthenticated()">
    <form *ngIf="router.url === '/dashboard'" class="form-inline" [formGroup]="form" 
        (ngSubmit)="form.valid && submit()" novalidate>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary today" (click)="submit('day')">
                {{ 'TOOLBAR.TODAY' | translate }}
            </button>
            <button type="button" class="btn btn-secondary week" (click)="submit('week')">
                {{ 'TOOLBAR.WEEK' | translate }}
            </button>
            <button type="button" class="btn btn-secondary month" (click)="submit('month')">
                    {{ 'TOOLBAR.MONTH' | translate }}
            </button>
            <button type="button" class="btn btn-secondary year" (click)="submit('year')">
                    {{ 'TOOLBAR.YEAR' | translate }}
            </button>
            <button type="button" class="btn btn-secondary all" (click)="submit('all')">
                    {{ 'TOOLBAR.EVER' | translate }}
            </button>
        </div>    
    
        <div class="form-group">
            <label for="from" class="form-control-sm">&nbsp;</label>
            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" 
                    formControlName="dateFrom" id="from" ngbDatepicker #from="ngbDatepicker"
                    (click)="from.toggle()">

            <label for="to" class="form-control-sm">{{ 'COMMON.TO' | translate }}</label>
            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" 
                    formControlName="dateTo" id="to" ngbDatepicker #to="ngbDatepicker"
                    (click)="to.toggle()">
        </div>
        
       <app-submit-button [form]="form" value="{{ 'COMMON.SUBMIT' | translate }}" 
            buttonClass="btn btn-secondary btn-sm" loadingValue="{{ 'COMMON.LOADING' | translate }}">
        </app-submit-button> 
    </form>
    
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>

    <div *ngIf="user.isAuthenticated()" class="my-2 my-lg-0 username">
        <a (click)="showUserContainer = !showUserContainer">
            <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>&nbsp;{{ user.getUsername() }}
        </a>
    </div>
    <app-user-popover *ngIf="showUserContainer" (closeEvent)="showUserContainer = false"></app-user-popover>        
</nav>