<div class="navbar navbar-expand" *ngIf="user.isAuthenticated()">
    <form *ngIf="router.url === '/dashboard' && user.getPackage() >= 3" class="form-inline date-filter" [formGroup]="form" 
          (ngSubmit)="form.valid && submit()" novalidate>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" [ngClass]="{'active': param == 'day'}"
                    class="btn btn-secondary today" (click)="submit('day')">
                <span class="not-mobile">{{ 'TOOLBAR.TODAY' | translate }}</span>
                <span class="only-mobile">{{ 'TOOLBAR.TODAY_SHORT' | translate }}</span>
            </button>
            <button type="button" [ngClass]="{'active': param == 'weeks'}"
                    class="btn btn-secondary week" (click)="submit('weeks')">
                {{ 'TOOLBAR.WEEK' | translate }}
            </button>
            <button type="button" [ngClass]="{'active': param == 'months'}"
                    class="btn btn-secondary month" (click)="submit('months')">
                    {{ 'TOOLBAR.MONTH' | translate }}
            </button>
            <button type="button" [ngClass]="{'active': param == 'years'}"
                    class="btn btn-secondary year" (click)="submit('years')">
                    {{ 'TOOLBAR.YEAR' | translate }}
            </button>
            <button type="button" [ngClass]="{'active': param == 'all'}"
                    class="btn btn-secondary all" (click)="submit('all')">
                    {{ 'TOOLBAR.EVER' | translate }}
            </button>
        </div>    
    
        <div class="form-group not-tablet">
            <label for="from" class="form-control-sm">&nbsp;</label>
            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" 
                    formControlName="dateFrom" id="from" ngbDatepicker #from="ngbDatepicker"
                    (click)="from.toggle()">

            <label for="to" class="form-control-sm">{{ 'COMMON.TO' | translate }}</label>
            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" 
                    formControlName="dateTo" id="to" ngbDatepicker #to="ngbDatepicker"
                    (click)="to.toggle()">
        </div>
        
       <app-submit-button [form]="form" value="{{ 'COMMON.SUBMIT' | translate }}" class="not-tablet"
            buttonClass="btn btn-secondary btn-sm" loadingValue="{{ 'COMMON.LOADING' | translate }}">
        </app-submit-button> 
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>

    <div *ngIf="user.isAuthenticated()" class="my-2 my-lg-0 username">
        <a (click)="showUserContainer = !showUserContainer">
            <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i><span class="not-mobile">&nbsp;{{ user.getUsername() }}</span>
        </a>
    </div>
    <div class="help">
        <a href="https://tawk.to/chat/5b5b6f50e21878736ba2628b/1cs1s7dnf" 
            onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=400,height=400,toolbar=1,resizable=0'); return false;">
            <i class="fa fa-comments fa-fw" aria-hidden="true"></i><span class="not-mobile">&nbsp;{{ 'TOOLBAR.HELP' | translate }}</span>
        </a>
    </div>
    <app-user-popover *ngIf="showUserContainer" (closeEvent)="showUserContainer = false"></app-user-popover>        
</div>