<h2>New promotion</h2>

<div *ngIf="topLevelForm" class="container container-card">
<form [formGroup]="topLevelForm" class="form" (ngSubmit)="topLevelForm.valid && submit()" novalidate>
                            
        <promotion-info [topLevelForm]="topLevelForm" *ngIf="currentStep === steps[0]">
        </promotion-info>

        <promotion-filter [topLevelForm]="topLevelForm" *ngIf="currentStep === steps[1]">
        </promotion-filter>

        <button *ngIf="currentStep !== steps[0]" type="button" class="btn btn-outline-secondary" (click)="previous()">Previous</button>
        <button *ngIf="currentStep !== steps[steps.length-1]" type="button" class="btn btn-outline-secondary" 
                (click)="next()"[disabled]="currentStep.invalid">Next</button>

        <app-submit-button *ngIf="currentStep === steps[steps.length-1]"
                value="{{ 'COMMON.SUBMIT' | translate }}" 
                loadingValue="{{ 'COMMON.LOADING' | translate }}" 
                [form]="topLevelForm" [subscription]="submitSubscription">
        </app-submit-button>      
</form>
</div>