<div class="container">
    <div class="row">
        <div class="col">
            <p class="lead">{{ 'SMS_PACKS.STOCK' | translate }}</p>
            <h2>0 {{ 'SMS_PACKS.SMS' | translate }}</h2>
        </div>
        <div class="col">
            <h1>+</h1>
        </div>
        <div class="col">
            <input type="number" min="1" max="10000" step="1" 
                   [(ngModel)]="packNumber" (keypress)="onInputChange($event)" />
            <h2>X 500 {{ 'SMS_PACKS.SMS' | translate }}</h2>
        </div>
        <div class="col">
            <h1>=</h1>
        </div>
        <div class="col">
            <p class="lead">{{ 'SMS_PACKS.NEW_STOCK' | translate }}</p>
            <h2>{{ packNumber * 500 }} {{ 'SMS_PACKS.SMS' | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>{{ 'COMMON.AMOUNT' | translate }}: {{ packNumber * 50 }} AED</h1>
            <p>
                {{ 'SMS_PACKS.CC_NOTICE' | translate }}
                <br />
                {{ 'SMS_PACKS.INVOICE_NOTICE' | translate }}
            </p>
        </div>
    </div>
</div>