<div class="container sms-container">
    <p class="lead">{{ 'SMS_PACKS.STOCK' | translate }}<span class="quota">{{ quota }} SMS</span></p>
    <form class="form-inline">
        <div class="form-group">
            <label for="stock">Buy</label>
            <input type="number" id="stock"name="stock" class="form-control mx-sm-3" min="1" max="10000" 
                   [(ngModel)]="packNumber" (keypress)="onInputChange($event)" step="1">
            <div>
            X 500 {{ 'SMS_PACKS.SMS' | translate }}
            </div>
        </div>
    </form>
    <p class="lead">{{ 'SMS_PACKS.NEW_STOCK' | translate }}<span class="quota">{{ packNumber * 500 }} {{ 'SMS_PACKS.SMS' | translate }}</span></p>
    <div>
            <h1>{{ 'COMMON.AMOUNT' | translate }}: {{ packNumber * packPrice }} AED</h1>
            <p class="text-muted">
                {{ 'SMS_PACKS.INVOICE_NOTICE' | translate }}
            </p>
            <button type="button" class="btn btn-success btn-lg" (click)="openModal()">Buy!</button>            
    </div>
        <!-- Buy 
        <input type="number" min="1" max="10000" step="1" 
        [(ngModel)]="packNumber" (keypress)="onInputChange($event)" />    
     -->
    <!-- <div class="row">
        <div class="col">
            <p class="lead">{{ 'SMS_PACKS.STOCK' | translate }}</p><span class="quota">{{ quota }} SMS</span>
        </div>
        <div class="col">
            <h1>+</h1>
        </div>
        <div class="col">
            <input type="number" min="1" max="10000" step="1" 
                   [(ngModel)]="packNumber" (keypress)="onInputChange($event)" />
            <h2>X 500 {{ 'SMS_PACKS.SMS' | translate }}</h2>
        </div>
        <div class="col">
            <h1>=</h1>
        </div>
        <div class="col">
            <p class="lead">{{ 'SMS_PACKS.NEW_STOCK' | translate }}</p>
            <h2>{{ packNumber * 500 }} {{ 'SMS_PACKS.SMS' | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>{{ 'COMMON.AMOUNT' | translate }}: {{ packNumber * 50 }} AED</h1>
            <p>
                {{ 'SMS_PACKS.CC_NOTICE' | translate }}
                <br />
                {{ 'SMS_PACKS.INVOICE_NOTICE' | translate }}
            </p>
        </div>
    </div> -->
</div>