<app-lock package="2"></app-lock>

<div class="container sms-container" *ngIf="user.getPackage() >= 2">
    <div class="card">
        <h6 class="card-header">{{ 'TOOLBAR.SMS_PACKS' | translate }}</h6>                
        <div class="card-body">
            <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>
            <div class="row" *ngIf="smsPack">
                <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <div>
                        <div class="cyan bold lead">{{ 'SMS_PACKS.STOCK' | translate }}</div>
                        <app-circle-progress
                            subtitle="{{ 'SMS_PACKS.SMS' | translate }}"
                            [title]="quota" 
                            backgroundColor="#0cb3c2"
                            backgroundOpacity=1
                            backgroundStroke="#000000"
                            backgroundPadding="7"
                            radius=33
                            space=-3
                            maxPercent=100
                            unitsColor="#ffffff"
                            outerStrokeWidth=3
                            outerStrokeColor="#ffffff"
                            innerStrokeColor="#ffdf72"
                            innerStrokeWidth=3
                            titleColor="#ffffff"
                            titleFontSize="18"
                            subtitleColor="#ffffff"
                            subtitleFontSize=13
                            animationDuration=0
                            [showUnits]=false
                            percent="100">
                        </app-circle-progress>
                    </div>
                    <!-- <form class="form" #form="ngForm" (ngSubmit)="form.valid && openModal()" novalidate>
                        <div class="form-group">
                            <label for="stock" class="cyan sms-label">{{ 'SMS_PACKS.BUY' | translate }} {{ packNumber * smsPack.smsNumber }} {{ 'SMS_PACKS.ADD_SMS_LABEL' | translate }} {{ packNumber * smsPack.price }}{{ currency }}</label>
                            <input type="number" id="stock" name="stock" class="form-control mx-sm-3" min="1" max="10000" 
                                    [(ngModel)]="packNumber" (keypress)="onInputChange($event)" step="1">
                        </div>
                        <app-submit-button value="{{ 'SMS_PACKS.BUY_BTN' | translate }}" [form]="form" 
                            buttonClass="btn btn-primary btn-lg">
                        </app-submit-button>
                    </form> -->

                    <form #form class="form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input name="cmd" type="hidden" value="_xclick" />
                        <input name="business" type="hidden" value="ZBD6ZJMJF737A" />
                        <input name="lc" type="hidden" value="FR" />
                        <input name="item_name" type="hidden" value="SMS Packs" />
                        <input name="amount" type="hidden" value="{{ smsPack.price }}" />
                        <input name="quantity" type="hidden" value="{{ packNumber }}" />
                        <input name="button_subtype" type="hidden" value="services" />
                        <input name="no_note" type="hidden" value="1" />
                        <input name="no_shipping" type="hidden" value="1" />
                        <input name="currency_code" type="hidden" value="{{ currency }}" />
                        <input type="hidden" name="return" value="https://shop.app-wards.com/odwichbj/sms?payment=s&c={{ packNumber }}" />
                        <input type="hidden" name="cancel_return" value="https://shop.app-wards.com/odwichbj/sms" />
                        <input name="bn" type="hidden" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted" />
                        
                        <div class="form-group">
                            <label for="stock" class="cyan sms-label">{{ 'SMS_PACKS.BUY' | translate }} {{ packNumber * smsPack.smsNumber }} {{ 'SMS_PACKS.ADD_SMS_LABEL' | translate }} {{ packNumber * smsPack.price }}{{ currency }}</label>
                            <input type="number" id="stock" name="stock" class="form-control mx-sm-3" min="1" max="10000" 
                                    [(ngModel)]="packNumber" (keypress)="onInputChange($event)" step="1">
                        </div>
                        <input class="btn btn-primary btn-lg" (click)="form.submit()" type="submit" value="{{ 'SMS_PACKS.BUY_BTN' | translate }}">
                        <!-- <input alt="PayPal, le réflexe sécurité pour payer en ligne" name="submit" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynowCC_LG.gif" type="image" /> -->
                        <img src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />
                    </form>

                </div>
                <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <p class="lead theme-color bold">{{ 'SMS_PACKS.NEW_STOCK' | translate }}</p>                                            
                    <app-circle-progress 
                        subtitle="{{ 'SMS_PACKS.SMS' | translate }}"
                        [title]="(packNumber * smsPack.smsNumber) + quota" 
                        backgroundColor="#fdbc00"
                        backgroundOpacity=1
                        backgroundStroke="#000000"
                        backgroundPadding="14"
                        radius=70
                        space=-9
                        maxPercent=100
                        unitsColor="#ffffff"
                        outerStrokeWidth=9
                        outerStrokeColor="#ffffff"
                        innerStrokeColor="#ffdf72"
                        innerStrokeWidth=9
                        titleColor="#ffffff"
                        titleFontSize="35"
                        subtitleColor="#ffffff"
                        subtitleFontSize=17
                        animationDuration=0
                        [showUnits]="false"
                        percent="80">
                    </app-circle-progress>
                </div>
            </div>
        </div>
    </div>
</div>