<div class="container">
    <div class="statistics">
            <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="numbers">
                                            <p class="card-category">Customers</p>
                                            <h4 class="card-title">{{customersCount}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ngx-loading [show]="loadingCustomerCount" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>                        
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="icon-big">
                                            <i class="fa fa-lightbulb-o"></i>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="numbers">
                                            <p class="card-category">Total expenses</p>
                                            <h4 class="card-title">{{totalExpenses}} AED</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ngx-loading [show]="loadingTotalExpenses" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>                        
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="icon-big">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="numbers">
                                            <p class="card-category">Best customers</p>
                                            <h5 class="card-title">
                                                Test<i class="fa fa-circle gold"></i>
                                            </h5>
                                            <h5 class="card-title">
                                                Test 2<i class="fa fa-circle silver"></i>
                                            </h5>
                                            <h5 class="card-title">
                                                Test 3<i class="fa fa-circle bronze"></i>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ 'STATS.GENDER_PIE' | translate }}</h4>
                    </div>
                    <ngx-loading [show]="loadingPies" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>           
                    <div class="card-body gender-stats"></div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">{{ 'STATS.AGE_PIE' | translate }}</h5>
                    <ngx-loading [show]="loadingPies" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>           
                    <div class="card-body age-stats"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">{{ 'STATS.GROUP_BAR_CHART' | translate }}</h5>
                    <ngx-loading [show]="loadingGroupChart" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>                    
                    <div class="row">
                        <div class="col filters">
                            <div class="filters-heading">{{ 'COMMON.FILTERS' | translate }}</div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" id="genderGroup" 
                                            (change)="selectDataType(DataType.Gender)" 
                                            [checked]="hasDataType(DataType.Gender)" value="genderGroup">
                                    {{ 'COMMON.GENDER' | translate }}
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" id="ageGroup" 
                                            (change)="selectDataType(DataType.Age)" 
                                            [checked]="hasDataType(DataType.Age)" value="ageGroup">
                                    {{ 'COMMON.AGE' | translate }}
                                </label>
                            </div>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="ageGroup" 
                                                (change)="selectDataType(DataType.City)" 
                                                [checked]="hasDataType(DataType.City)" value="ageGroup">
                                        {{ 'COMMON.CITY' | translate }}
                                    </label>
                                </div>
                        </div>
                        <div class="col-10">
                            <app-group-bar-chart [data]="barChartData | groupBarChart:groupChartDataTypes.length > 1"></app-group-bar-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <app-country-map></app-country-map>
            </div>
        </div> -->
    </div>
</div>
