:host {
    display: block;
}

.bg-light-blue {
    background-color: #03A9F4 !important;
}

.bg-amber {
    background-color: #ffc107 !important;
}

.bg-purple {
    background-color: #d559ea !important;
}

.statistics {
    text-align: center;

    .card {
        margin-top: 2em;

        .card-header {
            padding: 15px 15px 0;
            background-color: #fff;
            border-bottom: none!important;
            text-align: left;
        }

        .card-category {
            margin-bottom: 0;
            font-size: 0.875rem;
            color: #9A9A9A;
        }

        .card-title {
            margin: 0;
            color: #333333;
            font-weight: 300;
        }
    }
    
    .card-stats {
        border: none;
        text-align: left;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);

        .quick-stats {
            h2 {
                font-weight: normal;
                margin: 0;
                font-size: 1.6rem;
                color: #FFFFFF;
                line-height: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            h4 {
                @extend h2;
                font-size: 1.1rem;
                text-overflow: clip;
                line-height: 1.6rem;
            }
        
            small{
                font-size: 1rem;
                display: block;
                color: rgba(255, 255, 255, 0.8);
                margin-top: 0.6rem;
                line-height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .fa {
            font-size: 3em;
            color: rgba(255, 255, 255, 0.8)
        }

        .numbers {
            text-align: right;
            word-wrap: break-word;

            h4, h5, h6 {
                .fa {
                    font-size: .8em;
                    padding-left: .25em;
                }
                .gold {
                    color: gold;
                }
                .silver {
                    color: silver;
                }
                .bronze {
                    color: #CD7F32;
                }
            }
        }
    }
}

.filters {

    .filters-heading {
        font-weight: bold;
        font-size: 1.1em;
        margin: .8em 0;
        // border-bottom: 1px solid gray;
    }
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: .3em;
    background-color: white;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-shadow: .1em .1em .4em rgba(0, 0, 0, 0.4);
    -mox-box-shadow: .1em .1em .1em .4em rgba(0, 0, 0, 0.4);
    box-shadow: .1em .1em .4em rbga(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    opacity: 0;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: .75em;
    line-height: 1em;
}