@import '../../../styles/variables';

:host {
    display: block;
}

.statistics {
    margin: .5rem;

    .card-stats {
        text-align: center;    
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    }

    .card-pie {
        height: calc(50% - 2rem);
        text-align: center;  

        .card-body {
            padding: 0;
            padding-top: 1.2rem;
        }
    }

    .table {
        text-align: center;  
        margin-top: 2em;
        background-color: #fff;
        white-space: nowrap;
        font-size: 13px;
        
        tbody tr {
            cursor: pointer;
        }

        td {
            overflow: hidden;
        }
        
        .column-name {
            max-width: 200px;
            text-align: left;
        }
    }

    .ratings {
        font-size: 14px;
    }
}

.form-check {
    margin-right: 1rem;
}

.average-star {
    font-size: 1.3em;
    color: #b0c4de;
    position: relative;
    display: inline-block;
}

.filled {
    color: orange;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: orange;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: .3em;
    background-color: white;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-shadow: .1em .1em .4em rgba(0, 0, 0, 0.4);
    -mox-box-shadow: .1em .1em .1em .4em rgba(0, 0, 0, 0.4);
    box-shadow: .1em .1em .4em rbga(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.notvisible {
    opacity: 0;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: .75em;
    line-height: 1em;
}