<app-lock package="3"></app-lock>

<div class="container" *ngIf="user.getPackage() >= 3">
    <div class="statistics">
        <div class="row">
            <div class="col col-lg-4">
                <app-etiquette-card image="/assets/images/customers.png" background="#fdbc00">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="card-title">{{ 'STATS.REGISTERED_CUSTOMERS' | translate }}</div>
                            <h2 [style.color]="'#fdbc00'">{{customersCount}}</h2>
                        </div>
                    </div>
                    <ngx-loading [show]="loadingCustomerCount" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>
                </app-etiquette-card>
                <app-etiquette-card image="/assets/images/revenue.png" background="#0cb3c2">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="card-title">{{ 'STATS.REVENUES' | translate }}</div>
                            <h2 class="cyan">{{totalExpenses}} {{ user.getCurrency() }}</h2>
                        </div>
                    </div> 
                    <ngx-loading [show]="loadingTotalExpenses" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>
                </app-etiquette-card>
            </div>
            <div class="col col-lg-8">
                <app-customer-table [customers]="bestCustomers" small="true" 
                    title="{{ 'STATS.BEST_CUSTOMERS' | translate }}"></app-customer-table>                    
                <ngx-loading [show]="loadingBestCustomer" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>                                        
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="card">
                    <h5 class="card-header">{{ 'STATS.EXPENSES_LINE_CHART' | translate }}</h5>
                    <div class="card-body">
                        <app-line-chart [data]="expenses | expensesChart">
                        </app-line-chart>                            
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card card-pie">
                    <ngx-loading [show]="loadingPies" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>           
                    <div class="card-body">
                        <h5 class="card-title">{{ 'STATS.GENDER_PIE' | translate }}</h5>                    
                        <app-donut-chart [data]="genderPieChartData"></app-donut-chart>
                    </div>
                </div>
                <div class="card card-pie">
                    <ngx-loading [show]="loadingPies" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>           
                    <div class="card-body">
                        <h5 class="card-title">{{ 'STATS.AGE_PIE' | translate }}</h5>                    
                        <app-donut-chart [data]="agePieChartData"></app-donut-chart>                           
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-lg-8">
                <div class="card">
                    <h5 class="card-header">{{ 'STATS.GROUP_BAR_CHART' | translate }}</h5>
                    <div class="card-body">
                        <ngx-loading [show]="loadingGroupChart" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>                    
                        <div class="row">
                            <div class="col form-inline">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" 
                                                (change)="selectDataType(DataType.Gender)" 
                                                [checked]="hasDataType(DataType.Gender)">
                                        {{ 'COMMON.GENDER' | translate }}
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" 
                                                (change)="selectDataType(DataType.Age)" 
                                                [checked]="hasDataType(DataType.Age)">
                                        {{ 'COMMON.AGE' | translate }}
                                    </label>
                                </div>
                                <div class="form-check">
                                        <label class="form-check-label" *ngIf="!showArea()">
                                            <input class="form-check-input" type="checkbox" 
                                                    (change)="selectDataType(DataType.City)" 
                                                    [checked]="hasDataType(DataType.City)">
                                            {{ 'COMMON.CITY' | translate }}
                                        </label>
                                        <label class="form-check-label" *ngIf="showArea()">
                                            <input class="form-check-input" type="checkbox" 
                                                    (change)="selectDataType(DataType.Area)" 
                                                    [checked]="hasDataType(DataType.Area)">
                                            {{ 'COMMON.AREA' | translate }}
                                        </label>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-group-bar-chart [data]="barChartData | groupBarChart:groupChartDataTypes.length > 1"></app-group-bar-chart>
                            </div>
                        </div>              
                    </div>
                </div>
            </div>
            <div class="col col-lg-4">
                <app-etiquette-card image="/assets/images/smartphone.png" background="#fdbc00" imageWidth="18">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="card-title">{{ 'STATS.USING_APPLICATION' | translate }}</div>                    
                            <h2 [style.color]="'#fdbc00'">{{customersHasApplicationCount}}</h2>
                        </div>
                    </div>
                    <ngx-loading [show]="loadingCustomerHasApplicationCount" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>                        
                </app-etiquette-card>
                <app-etiquette-card *ngIf="reviewsAverage" image="/assets/images/comment.png" background="#0cb3c2">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div>
                                {{ reviewsAverage.totalCount }} {{ 'TOOLBAR.REVIEWS' | translate }}<br />
                                <ngb-rating [(rate)]="reviewsAverage.allRatingsAverage" [readonly]="true" max="5" [starTemplate]="averageTemplate">
                                </ngb-rating>
                            </div>  
                            <div class="ratings">
                                <div class="row">
                                    <div class="col">
                                        <ngb-rating [(rate)]="reviewsAverage.rating1Average" [readonly]="true" max="5" [starTemplate]="averageTemplate">
                                        </ngb-rating>
                                    </div>
                                    <div class="col">{{reviewsAverage.rating1Label}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ngb-rating [(rate)]="reviewsAverage.rating2Average" [readonly]="true" max="5" [starTemplate]="averageTemplate">
                                        </ngb-rating>
                                    </div>
                                    <div class="col">{{reviewsAverage.rating2Label}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ngb-rating [(rate)]="reviewsAverage.rating3Average" [readonly]="true" max="5" [starTemplate]="averageTemplate">
                                        </ngb-rating>
                                    </div>
                                    <div class="col">{{reviewsAverage.rating3Label}}</div>                                    
                                </div>
                            </div>                  
                        </div>
                    </div>
                    <ngx-loading [show]="loadingReviewsAverage" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>
                </app-etiquette-card>
            </div>
        </div>
    </div>
</div>

<ng-template #averageTemplate let-fill="fill">
    <span *ngIf="fill === 100" class="average-star filled">&#9733;</span>
    <span *ngIf="fill === 0" class="average-star">&#9733;</span>
    <span *ngIf="fill < 100 && fill > 0" class="average-star">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
</ng-template>