:host {
    display: block;
}

.bills-container {
    max-width: 650px;
    
    .card-header {
        text-transform: capitalize;
    }

    .bills {
        font-size: 13px;

        table, th, td, td {
            margin-top: 0;
            border: none;
        }

        th {
            font-size: 12px;
            color: #999;
        }

        .fa {
            cursor: pointer;
        }

        button {
            line-height: 1rem;
        }
    }
}