@import '../../../../styles/_variables';

:host {
    display:block;
}

/* enable absolute positioning */
.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: $theme-color;
  z-index: 100;
}

/* align icon */
.right-addon .fa { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }

.customer-search {
    padding: 1em;
}

$customerMargin: .2em .4em;

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.customers {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}

.customer-header {
    left: 0;
    margin: $customerMargin;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    background-color: #aaa;
}

.customers .customer {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #AAA;
  color: #fff;
  margin: $customerMargin;
  padding: .4em .4em .4em 0.7em;
  border-radius: 4px;
}

.customers .customer:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.customers .customer.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}