@import '../../../../../styles/_variables';

:host {
    display:block;
}

.table {
  margin-top: 2em;
  background-color: #fff;
  white-space: nowrap;
  font-size: 14px;

  img {
    max-width: 26px;
  }

  tbody tr {
      cursor: pointer;
  }

  td {
      overflow: hidden;
  }

  .gender-logo {
    float: left;
    padding: .4rem;
  }

  .column-name {
      max-width: 200px;
      text-align: left;
  }
}