@import '../../../../../styles/_variables';

:host {
    display:block;
}

.table {
    margin-top: 2em;
    background-color: #fff;
    white-space: nowrap;
    font-size: 12px;

    img {
        max-width: 26px;
    }
    
    thead { 
        th {
            text-align: center;
        }

        .sortable {
            cursor: pointer;
        }

        .fa {
            // float: right;
            line-height: 20px;
        }

        .column-name {
            text-align: left;
        }
    }

    tbody { 
        tr {
            cursor: pointer;
            padding: 0.5rem 0;
        }
        
        th {
            font-weight: normal;
            overflow: hidden;
        }
    }

    td {
        overflow: hidden;
        text-align: center;
        overflow: hidden;
        padding: 0.5rem;
    }

    .gender-logo {
        float: left;
        padding: .4rem;
    }

    .column-name {
        max-width: 160px;
        min-width: 160px;
        text-align: left;
        padding-left: 1rem;
        text-overflow: ellipsis;
    }

    .column-location {
        max-width: 165px;
        min-width: 165px;
    }

    .column-email, .column-fav-products {
        max-width: 170px;
        min-width: 170px;
    }

    .currency {
        font-size: 11px;
    }

    .amount {
        font-size: 15px;
    }

    .align-name {
        line-height: 2.3rem;
    }
}

.ngx-pagination {
    background-color: #fff;
}