<div class="table-responsive">
    <table class="table table-sm table-hover" *ngIf="customers && anyCustomer()">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="column-name">{{ title }}</th>
                <th scope="col">{{ 'COMMON.PHONE' | translate }}</th>
                <th scope="col">{{ 'COMMON.EMAIL' | translate }}</th>
                <th scope="col" *ngIf="!small">{{ 'COMMON.BIRTHDATE' | translate }}</th>
                <th scope="col" *ngIf="!small">{{ 'COMMON.CITY' | translate }}</th>
                <th scope="col">{{ 'CUSTOMERS.FAVORITE_PRODUCTS' | translate }}</th>
                <th scope="col">{{ 'CUSTOMERS.TOTAL_SPENT' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers.data || customers | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: customers?.paging?.totalCount }" 
                [routerLink]="['/customers', customer.id]">
                <th>
                    <div class="gender-logo">
                        <img *ngIf="customer.gender == 'M'" src="/assets/images/male.png" alt="male">   
                        <img *ngIf="customer.gender == 'F'" src="/assets/images/female.png" alt="female">                                                    
                    </div>
                    <div class="column-name" [ngClass]="{'align-name': !customer.firstEntry}">
                        <b>{{ customer.firstname }} {{ customer.lastname }}</b>
                        <div *ngIf="customer.firstEntry"
                            [ngClass]="{'purple-pink': customer.gender == 'F', 'cyan': customer.gender == 'M'}">
                                {{ 'COMMON.SINCE' | translate }} {{ customer.firstEntry | date: 'dd-MM-yyyy' }}
                        </div>                                   
                    </div>
                </th>
                <td>{{ customer.mobileNumber }}</td>
                <td>{{ customer.email }}</td>
                <td *ngIf="!small">{{ customer.birthdate | date: 'dd-MM-yyyy' }}</td>
                <td *ngIf="!small">
                    <span *ngIf="customer.address">{{ customer.address.city }}</span>
                </td>
                <td>
                    <div *ngFor="let favoriteProduct of customer.favoriteProducts">
                        {{ favoriteProduct.name }}
                    </div>
                </td>
                <td>
                    <div *ngFor="let totalExpense of customer.totalExpenses" class="cyan">
                        <span class="currency">{{ totalExpense.currency }}</span>
                        <span class="amount">{{ totalExpense.amount }}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls *ngIf="customers && showPagination()" (pageChange)="pageChanged($event)" 
        autoHide="true" directionLinks="true"
        previousLabel="{{ 'COMMON.PREVIOUS' | translate }}" nextLabel="{{ 'COMMON.NEXT' | translate }}">
    </pagination-controls>
</div>