<app-lock package="2"></app-lock>

<div class="container email-container" *ngIf="user.getPackage() >= 2">
    <div class="card">
        <h6 class="card-header">{{ 'EMAIL_CAMPAIGNS.TITLE' | translate }}</h6>                
        <div class="card-body">
            <p class="cyan bold lead mb-0">
                {{ 'EMAIL_CAMPAIGNS.CURRENT_EMAILS_1' | translate }}
                <app-circle-progress
                    subtitle="{{ 'EMAIL_CAMPAIGNS.EMAILS_CAP' | translate }}"
                    [title]="emailCount || '...'" 
                    backgroundColor="#0cb3c2"
                    backgroundOpacity=1
                    backgroundStroke="#000000"
                    backgroundPadding="5"
                    radius=33
                    space=-3
                    maxPercent=100
                    unitsColor="#ffffff"
                    outerStrokeWidth=3
                    outerStrokeColor="#ffffff"
                    innerStrokeColor="#ffdf72"
                    innerStrokeWidth=3
                    titleColor="#ffffff"
                    titleFontSize="18"
                    subtitleColor="#ffffff"
                    subtitleFontSize=13
                    animationDuration=0
                    [showUnits]=false
                    percent="100">
                </app-circle-progress>            
                {{ 'EMAIL_CAMPAIGNS.CURRENT_EMAILS_2' | translate }}
            </p> 

            <p class="bold" style="margin-bottom: 2.5rem;">{{ 'EMAIL_CAMPAIGNS.USE_EMAILS' | translate }}</p>
            <button class="btn btn-primary btn-lg" (click)="openEmailModal()">{{ 'EMAIL_CAMPAIGNS.SUSCRIBE_BUTTON' | translate }}</button>
        </div>
    </div>
</div>