<app-alert [(error)]="error" errorMessage="{{ 'COMMON.SERVER_ERROR' | translate }}"
    successMessage="{{ 'FORGET_PASSWORD.SUCCESS_MESSAGE' | translate }}">
</app-alert>

<div class="login-panel">
    <h2 class="login-heading">{{ 'FORGET_PASSWORD.TITLE' | translate }}</h2>

    <form [formGroup]="form" (submit)="onSumbit()" class="row">
         <div class="form-group col-md-12">
            <label for="email">{{ 'COMMON.EMAIL' | translate }}*</label>
            <input class="form-control form-control" id="email" formControlName="email" required="true" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-field">
                {{ 'FORM.INVALID_EMAIL' | translate }}
            </div>
        </div>
        
        <div class="form-group col-md-12">
            <app-submit-button value="{{ 'SET_PASSWORD.BUTTON' | translate }}"
                               loadingValue="{{ 'COMMON.LOADING' | translate }}" 
                               [subscription]="forgetPasswordSubscription" [form]="form">
            </app-submit-button>
        </div>
    </form>
</div>