<div class="container" *ngIf="reviews && reviews.paging.itemsCount > 0"
     infiniteScrollDistance="1" infiniteScrollThrottle="300" (scrolled)="onScroll()">
    <!-- Average ratings -->
    <div class="row average-ratings" *ngIf="reviewsAverage">
        <div class="col-12 col-lg-4">
            <h1 class="cyan">{{ reviewsAverage.allRatingsAverage.toFixed(1) }}<small>/ 5</small></h1>
        </div>
        <div class="col-12 col-lg-8 average-rating">
            <div class="total-average">
                <ngb-rating [rate]="reviewsAverage.allRatingsAverage" [readonly]="true" max="5" 
                    [starTemplate]="averageTemplate" style="font-size:20px">
                </ngb-rating>
                <br />{{ reviews.paging.totalCount }} {{ 'TOOLBAR.REVIEWS' | translate }}
            </div>

            <div class="row row-rating">
                <div class="col">
                    <ngb-rating [rate]="reviewsAverage.rating1Average" [readonly]="true" max="5" [starTemplate]="averageTemplate">
                    </ngb-rating>
                    <span class="theme-color">{{ reviewsAverage.rating1Average.toFixed(1) }}</span>
                </div>
                <div class="col">{{reviewsAverage.rating1Label}}</div>
            </div>
            <div class="row row-rating">
                <div class="col">
                    <ngb-rating [rate]="reviewsAverage.rating2Average" [readonly]="true" max="5" [starTemplate]="averageTemplate">
                    </ngb-rating>
                    <span class="theme-color">{{ reviewsAverage.rating2Average.toFixed(1) }}</span>
                </div>
                <div class="col">{{reviewsAverage.rating2Label}}</div>
            </div>
            <div class="row row-rating">
                <div class="col">
                    <ngb-rating [rate]="reviewsAverage.rating3Average" [readonly]="true" max="5" [starTemplate]="averageTemplate">
                    </ngb-rating>
                    <span class="theme-color">{{ reviewsAverage.rating3Average.toFixed(1) }}</span>
                </div>
                <div class="col">{{reviewsAverage.rating3Label}}</div>
            </div>
        </div>
    </div>

    <!-- All ratings -->
    <div class="review-block">
        <div class="row review-row" [ngClass]="{'border-bottom': i < reviews.data.length - 1 }"
             *ngFor="let review of reviews.data; let i = index">
            <div class="col">
                <div class="bold">Anonymous</div>
                <!-- <div class="review-block-name"><a href="#">{{review.createdBy}}</a></div> -->
                <div class="review-block-date">{{review.createdDate | date: 'dd-MM-yyyy'}}</div>
            </div>
            <div class="col cyan bold text-align-center">
                <div>{{ 'REVIEWS.AVERAGE' | translate }}</div>
                <ngb-rating [rate]="(review.rating1 + review.rating2 + review.rating3) / 3" 
                    [readonly]="true" max="5" [starTemplate]="averageTemplate">
                </ngb-rating>
            </div>
            <div class="col review-block-rate">
                <div>{{review.rating1Label}}</div>
                <ngb-rating [rate]="review.rating1" [readonly]="true" max="5" [starTemplate]="normalTemplate">
                </ngb-rating>
            </div>
            <div class="col review-block-rate">
                <div>{{review.rating2Label}}</div>
                <ngb-rating [rate]="review.rating2" [readonly]="true" max="5" [starTemplate]="normalTemplate">
                </ngb-rating>
            </div>
            <div class="col review-block-rate">
                <div>{{review.rating3Label}}</div>
                <ngb-rating [rate]="review.rating3" [readonly]="true" max="5" [starTemplate]="normalTemplate">
                </ngb-rating>
            </div>
            <div class="col-6 line-breaker">{{review.comment}}</div>
        </div>
    </div>
</div>

<ng-template #averageTemplate let-fill="fill">
    <span *ngIf="fill === 100" class="average-star filled">&#9733;</span>
    <span *ngIf="fill === 0" class="average-star">&#9733;</span>
    <span *ngIf="fill < 100 && fill > 0" class="average-star">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
</ng-template>

<ng-template #normalTemplate let-fill="fill">
    <span class="star" [class.filled]="fill === 100">&#9733;</span>
</ng-template>

<div *ngIf="reviews && reviews.paging.itemsCount == 0" class="no-result">
    <span class="icon"></span>
    <h2>{{ 'REVIEWS.NO_REVIEW' | translate }}</h2>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>