<div class="container" #container>
    <div class="row content-editor">
        <div class="col">
            <div class="card">
                <h6 class="card-header">{{ 'CONTENT.DESIGN' | translate }}</h6>                    
                <div class="card-body">
                    <form class="form" #designF="ngForm" (ngSubmit)="designF.valid && saveDesign()" novalidate>                                
                        <div class="row images">
                            <div class="col">
                                <file-upload [simple]="true" browseLabel="{{ 'CONTENT.LOGO' | translate }}"
                                    [(file)]="design.logo" [totalFileSize]="totalFileSize" 
                                    recommendedText="{{ 'CONTENT.LOGO_SIZE_RECOMMENDED' | translate }}">
                                </file-upload>
                            </div>
                            <div class="col">
                                <file-upload [simple]="true" browseLabel="{{ 'CONTENT.BACKGROUND_IMAGE' | translate }}" 
                                    [(file)]="design.backgroundImage" [totalFileSize]="totalFileSize"
                                    recommendedText="{{ 'CONTENT.BACKGROUND_IMAGE_SIZE_RECOMMENDED' | translate }}">
                                </file-upload>
                            </div>
                            <div class="col">
                                <file-upload [simple]="true" browseLabel="{{ 'CONTENT.HEADER_IMAGE' | translate }}"
                                    [(file)]="design.headerImage" [totalFileSize]="totalFileSize"
                                    recommendedText="{{ 'CONTENT.HEADER_IMAGE_SIZE_RECOMMENDED' | translate }}">
                                </file-upload>
                            </div>
                        </div>
                        <div class="row color">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-sm" for="rewards-color">{{ 'CONTENT.REWARDS_WHEEL_COLOR' | translate }}</label>                           
                                    <input id="rewards-color" [value]="design.rewardsWheelColor"
                                        [(colorPicker)]="design.rewardsWheelColor" cpPosition="bottom" cpOutputFormat="rgba"
                                        [style.background]="design.rewardsWheelColor" class="form-control form-control-sm" /> 
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-sm" for="titles-color">{{ 'CONTENT.TITLES_COLOR' | translate }}</label>                                
                                    <input [(colorPicker)]="design.titlesColor" [value]="design.titlesColor"
                                        [style.background]="design.titlesColor" cpPosition="bottom" cpOutputFormat="rgba"
                                        id="titles-color" class="form-control form-control-sm"/>
                                </div>
                            </div>
                        </div>
                        <div class="row color">
                            <div class="col">
                                <div class="form-group">
                                    <label class="form-control-sm" for="buttons-color">{{ 'CONTENT.BUTTONS_COLOR' | translate }}</label>                                
                                    <input [(colorPicker)]="design.buttonsColor" [value]="design.buttonsColor"
                                        [style.background]="design.buttonsColor" cpPosition="bottom" cpOutputFormat="rgba"
                                        id="buttons-color" class="form-control form-control-sm"/>                                
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="backgroundImageSize">{{ 'CONTENT.BACKGROUND_IMAGE_SIZE' | translate }}</label>
                                    <select [(ngModel)]="design.backgroundImageSize" name="backgroundImageSize"
                                            class="form-control form-control-sm" id="backgroundImageSize">
                                        <option *ngFor="let size of service.getBackgroundImageSizes() | async" [ngValue]="size.id">{{ size.name }}</option>
                                    </select>
                                    <!-- <label class="form-control-sm" for="menu-color">{{ 'CONTENT.MENU_BACKGROUND_COLOR' | translate }}</label>                                
                                    <input [(colorPicker)]="design.menuBackgroundColor" [value]="design.menuBackgroundColor"
                                        [style.background]="design.menuBackgroundColor" cpPosition="bottom" cpOutputFormat="rgba"
                                        id="menu-color" class="form-control form-control-sm"/> -->
                                </div>
                            </div>
                        </div>
                        <div class="button">
                            <app-submit-button value="{{ 'COMMON.SAVE' | translate }}" [form]="designF.form"
                                                loadingValue="{{ 'COMMON.SAVING' | translate }}"
                                                [subscription]="saveDesignSubscription">
                            </app-submit-button>
                        </div>
                        <app-alert [(error)]="error" errorMessage="{{ 'COMMON.SERVER_ERROR' | translate }}">
                        </app-alert>
                    </form>
                </div>
            </div>
            <div class="card">
                <h6 class="card-header">{{ 'CONTENT.SHOP' | translate }}</h6>                    
                <div class="card-body">
                    <div dnd-sortable-container [sortableData]="customPages">
                        <div *ngFor="let page of customPages; let i = index" class="section"
                            dnd-sortable [sortableIndex]="i" (onDropSuccess)="orderChanged($event, i)">
                            <div class="section-header" (click)="page.expanded = !page.expanded">
                                {{ 'CONTENT.SECTION' | translate }} {{ i + 1 }} - {{ page.title }}
                                <i *ngIf="page.expanded" class="fa fa-chevron-down" title="Collapse"></i>
                                <i *ngIf="!page.expanded" class="fa fa-chevron-right" title="Expand"></i>
                            </div>

                            <form *ngIf="page.expanded" class="form" #f="ngForm" (ngSubmit)="f.valid && savePage(page)" novalidate>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="title" name="title" placeholder="New page"
                                            [(ngModel)]="page.title" #title="ngModel" required />
                                    <div [hidden]="title.valid || (title.pristine && !f.submitted)" class="alert-sm alert-danger">
                                        Title is required
                                    </div>
                                </div>
                                <div class="form-group">
                                    <ckeditor [(ngModel)]="page.content" [config]="ckeditorConfig"
                                                name="content" debounce="500" (change)="onChange($event)">
                                    </ckeditor>
                                </div>
                                <file-upload [files]="page.pictures" [fileHolder]="page" [totalFileSize]="totalFileSize"
                                    [onFileUpload]="addPageFile" (onDeleteFile)="deleteFile($event, page)">
                                </file-upload>
                                <div class="form-group">
                                    <app-submit-button value="{{ 'COMMON.SAVE' | translate }}" 
                                                        loadingValue="{{ 'COMMON.SAVING' | translate }}"
                                                        [subscription]="savePageSubscription" [form]="f.form">
                                    </app-submit-button>
                                    <!-- <input type="button" class="btn btn-secondary" (click)="cancelPageEdition(page)" value="{{ 'COMMON.CANCEL' | translate }}"/> -->
                                    <input type="button" class="btn btn-danger" (click)="openDeleteModal(page)" value="{{ 'COMMON.DELETE' | translate }}"/>
                                </div>
                                <app-alert [(error)]="error" errorMessage="{{ 'COMMON.SERVER_ERROR' | translate }}"
                                    successMessage="{{ 'CONTENT.SAVE_PAGE_SUCCESS' | translate }}">
                                </app-alert>
                            </form>
                        </div>
                    </div>
                    <div style="text-align: center;margin-top: 1rem;">
                        <button (click)="createPage(null)" class="btn btn-info">{{ 'CONTENT.NEW_SECTION' | translate }}</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <h6 class="card-header">{{ 'CONTENT.CONTACT' | translate }}</h6>                    
                <div class="card-body">
                    <form *ngIf="contactPage" class="form" #f="ngForm" (ngSubmit)="f.valid && savePage(contactPage)" novalidate>
                        <div class="form-group">
                            <label for="email">{{ 'COMMON.EMAIL' | translate }}</label>
                            <input type="text" [(ngModel)]="contactPage.data2" class="form-control form-control-sm" 
                                   #email="ngModel" id="email" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="phone">{{ 'COMMON.PHONE' | translate }}*</label>
                            <input type="text" [(ngModel)]="contactPage.data1" class="form-control form-control-sm" 
                                    #phone="ngModel" id="phone" name="phone" />
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="invalid-field">
                                {{ 'FORM.REQUIRED' | translate }}
                            </div>
                        </div>
                        
                        <div class="container time-table" *ngIf="contactPage.timeTable">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-4 col-time">{{ 'CONTENT.MORNING' | translate }}</div>
                                <div class="col-4 col-time">{{ 'CONTENT.AFTERNOON' | translate }}</div>
                                <div class="col-2">{{ 'CONTENT.NON_STOP' | translate }}</div>
                            </div>
                            <div class="row day" *ngFor="let weekDay of weekDays; let i = index">
                                <div class="col-2">{{weekDay.name}}</div>
                                <div class="col-time" [ngClass]="contactPage.timeTable[i].nonStop ? 'col-8' : 'col-4'">
                                    <app-time-range (timeChange)="onTimeChange($event, contactPage)" [day]="weekDay.id"
                                                    [time]="contactPage.timeTable[i].morningTime" type="morning">
                                    </app-time-range>
                                </div>
                                <div class="col-4 col-time" *ngIf="!contactPage.timeTable[i].nonStop">
                                    <app-time-range (timeChange)="onTimeChange($event, contactPage)" [day]="weekDay.id"
                                                    [time]="contactPage.timeTable[i].afternoonTime" typeof="afternoon">
                                    </app-time-range>
                                </div>
                                <div class="col-2">
                                    <input type="checkbox" name="nonStop" [checked]="contactPage.timeTable[i].nonStop"
                                            (change)="contactPage.timeTable[i].nonStop = !contactPage.timeTable[i].nonStop" />
                                </div>
                            </div>
                            <small class="form-text text-muted">{{ 'CONTENT.EMPTY_TIMES' | translate }}</small>
                        </div>
                                            
                        <div class="button">
                            <app-submit-button value="{{ 'COMMON.SAVE' | translate }}" 
                                                loadingValue="{{ 'COMMON.SAVING' | translate }}" 
                                                [form]="f.form" [subscription]="savePageSubscription">
                            </app-submit-button>
                            <!-- <input type="button" class="btn btn-secondary" value="{{ 'COMMON.CANCEL' | translate }}"
                                    (click)="cancelPageEdition()" /> -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <h6 class="card-header">{{ 'CONTENT.LOCATION' | translate }}</h6>                    
                <div class="card-body">
                    <form *ngIf="locationPage" class="form" #f="ngForm" (ngSubmit)="f.valid && savePage(locationPage)" novalidate>
                        <app-address [(ngModel)]="locationPage.address" name="address" showMap="true" required="true"></app-address>                            
                        <div class="button">
                            <app-submit-button value="{{ 'COMMON.SAVE' | translate }}" 
                                                loadingValue="{{ 'COMMON.SAVING' | translate }}"
                                                [subscription]="savePageSubscription" [form]="f.form">
                            </app-submit-button>
                        </div>
                    </form>
                </div>
            </div>                    
        </div>
        <div class="col">
            <app-mobile-preview #mobile [style.top]="scrollOffset"></app-mobile-preview>
        </div>
    </div>
</div>
<div>
    <ngx-loading [show]="loading"></ngx-loading>
</div>