@import '../../../styles/variables';

:host {
    display:block;
}

.content-editor {
    max-width: 100%;

    .images {
        margin-bottom: 1rem;
    }

    .color {
        label {
            margin: 0;
            padding: 0;
        }
        
        input {
            color: #fff;
        }
    }

    .button {
        text-align: center;
        margin-top: 1rem;
    }

    #phone, #email {
        width: 50%;
    }
}

app-mobile-preview {
    position: relative;
}

.section {
    margin-top: .2rem;
    
    .section-header {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 0.5rem .7rem;
        border-radius: 5px;

        .fa {
            float: right;
            margin-top: .3rem;
            color: $theme-color;
        }
    }

    input[type='button'] {
        border: none;
    }

    file-upload {
        margin-bottom: 1rem;
    }
}

.time-table {
    font-size: 0.85em;
    padding: 0;

    .day {
        padding: .1em 0;
    }

    .col-time {
        padding: 0 .7em;
        text-align: center;
    }

    .col-2 {
        text-align: center;
        padding: 0;
    }

    /*.col-2 {
        padding: 0;
    }*/
}