:host {
    display: block;
}

.mobile-container {
    /*background-image: url(../../../assets/images/galaxy-s5.png);*/
    background-repeat: no-repeat;
    position: relative;
    height: 940px;
    width: 470px;
}

.mobile-preview {
    position: absolute;
}