:host {
    display: block;
}

.mobile-container {
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    height: 940px;
    width: 470px;

    iframe {
        background-color: #fff;
    }
}

.mobile-preview {
    position: absolute;
}

select {
    margin: auto;
    max-width: 200px;
}