@import '../styles/variables';
@import "~bootstrap/scss/bootstrap";

:host {
    display:block;
}

h1 {
  color: $h1-title-color;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

main {
    margin: 20px 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.btn {
    cursor: pointer;
}

.btn:disabled {
    cursor: default;
}

a {
    cursor: pointer;
}

a.active {
  background-color: gray;
}

.bold {
    font-weight: bold;
}

.alert.alert-dismissible {
    padding: 0.5rem 1.25rem;

    .close {
        padding: 0.5rem 1.25rem;
    }
}

.btn-xs {
    @extend .btn-sm;
    padding: 0.23em 0.6em;
    line-height: 1.3em;
}

.invalid-field {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.line-breaker {
    white-space: pre-line;
}

small.smaller {
    font-size: .65em;

    ul {
        margin-left: 1.5em;
        li {
           list-style-type: disc;
        }
    }
}

.no-result {
    width: 70%;
    padding: 1em;
    margin: auto;
    text-align: center;

    h2:before {    
        content: "\F002";
        font-family: FontAwesome;
        margin-right: 1em;
    }

}

/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}*/

.with-chevron .completer-input {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.container-card {
    background-color: #fefefe;
    border: 1px #ddd solid;
    padding: 1.5em;
}

// General Responsive Classes
.only-mobile {
  display: none;
}

app-login {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@include media-breakpoint-up(md) {
  app-login {
    width: 360px;
  }
}
@include media-breakpoint-up(lg) {
  app-login {
    width: 400px;
  }
}
@include media-breakpoint-up(xl) {
  app-login {
    width: 450px;
  }
}

.ng-autocomplete-dropdown {
    position: relative;
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs {
    position: relative;
}
.ng-autocomplete-dropdown .ng-autocomplete-inputs input {
    width: 100%;
    padding: 6px 14px;
    font-family: Arial;
    font-weight: normal;
    outline: none !important;
    font-size: 15px;
    height: 2.7em;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
}

.ng-autocomplete-dropdown .ng-autocomplete-placeholder {
    position: absolute;
    margin: 3px;
    background-color: #fff;
    padding: .4em .8em;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    width: calc(100% - 4px);
}
.ng-autocomplete-dropdown .ng-dropdown {
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 99999;
    max-height: 280px;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}
.ng-autocomplete-dropdown .ng-dropdown.open {
    display: block;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item {
    width: 100%;
    cursor: pointer;
    padding: .3em 1em;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    background-color: #ffffff;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item:nth-child(odd) {
    background-color: #efefef;
}
.ng-autocomplete-dropdown .ng-dropdown .dropdown-item.active {
    background-color: #0099cc;
    color: #fff !important;
}

.ng-autocomplete-dropdown .ng-dropdown .dropdown-item .dropdown-item-highlight {
    font-weight: bold;
}

.ng-autocomplete-dropdown-icon {
    display: block;
    width: 46px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 999;
    font-size: 12px;
    color: #758694;
}

.ng-autocomplete-dropdown-icon:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
    position: absolute;
    right: 16px;
    z-index: 999;
    top: 19px;
}

.ng-autocomplete-dropdown-icon.open:after {
    transform: rotate(180deg);
}

.nav-user-button {
    font-size: .9rem;
    line-height: 1;
}