@import '../styles/variables';
@import "~bootstrap/scss/bootstrap";

:host {
    display:block;
}

h1 {
  color: $h1-title-color;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

#parent {
    margin-top: 3.5em;
}

.sidebar-margin {
    margin-left: $sidebar-width;        
}

.container {
    margin-bottom: 2rem;
}

.content-container {
    width: 90%;
}

.btn {
    cursor: pointer;
    border-radius: 1px;
}

// .btn:focus, .btn-primary:focus, .btn-secondary:focus {
//     outline: none;
// }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
    outline: thin dotted;
    outline-offset: -2px;
    box-shadow: none;    
}

.btn-primary {
    background-color: $theme-color;
    border: none;
}

.btn-primary:hover:not(:disabled):not(.disabled) {
    background-color: $theme-color-secondary;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active {
    background-color: $theme-color-secondary;
}

.btn:disabled {
    cursor: default;   
}

.btn-primary:disabled {
    background-color: $theme-color;
    opacity: .65;    
}

.btn-xs {
    @extend .btn-sm;
    padding: 0.23em 0.6em;
    line-height: 1.3em;
}

a {
    cursor: pointer;
}

a.active {
  background-color: gray;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.purple-pink {
    color: #be058c;
}

.cyan {
    color: #0cb3c2;
}

.alert.alert-dismissible {
    padding: 0.5rem 1.25rem;

    .close {
        padding: 0.5rem 1.25rem;
    }
}

.invalid-field {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.line-breaker {
    white-space: pre-line;
}

small.smaller {
    font-size: .65em;

    ul {
        margin-left: 1.5em;
        li {
           list-style-type: disc;
        }
    }
}

.no-result {
    width: 70%;
    padding: 1em;
    margin: auto;
    text-align: center;

    h2:before {    
        content: "\F002";
        font-family: FontAwesome;
        margin-right: 1em;
    }

}

.with-chevron .completer-input {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.card {
    margin-top: 2em;

    .card-header {
        background-color: #303030;
        color: #fff;
        border-bottom: none !important;
    }
}

.container-card {
    background-color: #fefefe;
    border: 1px #ddd solid;
    padding: 1.5em;
}

// General Responsive Classes
.only-mobile {
  display: none;
}

app-login {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@include media-breakpoint-up(md) {
  app-login {
    width: 360px;
  }
}
@include media-breakpoint-up(lg) {
  app-login {
    width: 400px;
  }
}
@include media-breakpoint-up(xl) {
  app-login {
    width: 450px;
  }
}

.nav-user-button {
    font-size: .9rem;
    line-height: 1;
}

// New customer modal
@media (min-width: 770px) {
    .customer-modal .modal-dialog {
        max-width: 700px;
    }
}

// puts the google places autocomplete dropdown results above the bootstrap modal 1050 zindex.
.pac-container {
    z-index: 1051 !important;
}