:host {
    display: block;
}

.container {  
  width: 88%;
  margin-top: 5rem;
}

.table-responsive {    
  background-color: #fff;
  padding-bottom: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: auto;

  .table {
    white-space: nowrap;
    margin-top: 0;

    tr {
      cursor: pointer;
    }
  }
  
  .thead-dark th {
    font-size: 12px;
  }
}

.product-row {
  margin-bottom: .2rem;
}