<div class="d-flex justify-content-center">
    <a routerLink="../new" class="btn btn-info">{{ 'PROMOTIONS.CREATE_NEW' | translate }}</a>
</div>
<br />

<div *ngIf="promotions && promotions.paging.itemsCount > 0" 
     infiniteScrollDistance="1" infiniteScrollThrottle="300"
     (scrolled)="onScroll()" class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>{{ 'PROMOTIONS.PROMOTION' | translate }}</th>
                <th>{{ 'PROMOTIONS.PERIOD' | translate }}</th>
                <th>{{ 'COMMON.CREATED' | translate }}</th>
                <th>{{ 'COMMON.SENT' | translate }}</th>
                <th class="w-50">{{ 'COMMON.DETAILS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let promotion of promotions.data">
                <th scope="row">{{promotion?.name}}</th>
                <td>
                    From {{promotion?.fromDate | date:'dd-MM-yyyy'}}<br />
                    To {{promotion?.toDate | date:'dd-MM-yyyy'}}
                </td>
                <td>{{promotion?.createdDate | date:'dd-MM-yyyy'}}</td>
                <td>{{promotion?.nbSmsSent}} sms</td>
                <td>{{promotion?.details}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="promotions && promotions.paging.itemsCount == 0">
    <h2>{{ 'PROMOTIONS.NO_PROMOTION' | translate }}</h2>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>