@import '../../../../../styles/_variables';

:host {
    display: block;
}

table {
    font-size: 13px;
    background-color: #fff;
    // max-width: 700px;

    th, td {
        padding: 0.65rem;
        border-top: 1px solid #ddd;
    }

    tbody th {
        color: $theme-color;
    }

    .promotion-name {
        max-width: 160px;
        text-overflow: ellipsis;
    }
    
    .promotion-details {
        white-space: pre-line;
        // max-width: 150px;
        // text-overflow: ellipsis;
    }
}
