<form [formGroup]="form" class="form" (ngSubmit)="form.valid" novalidate>
    <div class="form-group">
        <label for="name">{{ 'PROMOTIONS.CAMPAIGN_NAME' | translate }}*</label>
        <input type="text" class="form-control" id="name" formControlName="name" required />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-field">
            {{ 'FORM.REQUIRED' | translate }}
        </div>
    </div>
    <div class="row">
        <div class="col-12" [ngClass]="{'col-lg-12': user.showCustomControl(1), 'col-lg-4': !user.showCustomControl(1) }">
            <div class="form-group">
                <label for="percentage">{{ 'PROMOTIONS.PERCENTAGE' | translate }}</label>
                <input type="number" class="form-control form-control-sm" min="0" max="100" id="percentage" formControlName="percentage" />
            </div>
        </div>
        <div class="col-12" [ngClass]="{'col-lg-12': user.showCustomControl(1), 'col-lg-8': !user.showCustomControl(1) }">
            <div class="form-group valid-dates">
                <div class="row">
                    <div class="col pl-0">
                        <label for="dateFrom">{{ 'PROMOTIONS.VALID_FROM' | translate }}*</label>                        
                    </div>
                    <div class="col-7 pl-0">
                        <div class="input-group">
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" formControlName="dateFrom"
                                id="dateFrom" ngbDatepicker #from="ngbDatepicker" required>
                            <button class="input-group-addon" (click)="from.toggle()" type="button">
                                <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                            </button>
                            <div *ngIf="dateFrom.invalid && (dateFrom.dirty || dateFrom.touched)" class="invalid-field">
                                {{ 'FORM.INVALID_DATE' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pl-0">
                            <label for="dateTo">{{ 'PROMOTIONS.VALID_UNTIL' | translate }}*</label>                        
                    </div>
                    <div class="col-7 pl-0">
                        <div class="input-group">
                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" formControlName="dateTo"
                                    id="dateTo" ngbDatepicker #to="ngbDatepicker" required>
                            <button class="input-group-addon" (click)="to.toggle()" type="button">
                                <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                            </button>
                            <div *ngIf="dateTo.invalid && (dateTo.dirty || dateTo.touched)" class="invalid-field">
                                {{ 'FORM.INVALID_DATE' | translate }}
                            </div>
                        </div>
                        <div class="invalid-field" *ngIf="form.errors">{{ form.errors?.dates | json }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="details">{{ 'PROMOTIONS.MESSAGE' | translate }}*</label>
        <textarea class="form-control" id="details" rows="4" formControlName="details" required></textarea>
        <div *ngIf="details.invalid && (details.dirty || details.touched)" class="invalid-field">
            {{ 'FORM.REQUIRED' | translate }}
        </div>
        <small class="form-text text-muted"><b>{{ getSmsCounter().remaining }}</b> {{ 'PROMOTIONS.REMAINING_CHARACTERS' | translate }}</small>
        <small class="form-text text-muted"><b>{{ getSmsCounter().messages }}</b> {{ 'PROMOTIONS.SMS_NUMBER_SENT' | translate }}</small>
        
        <small class="form-text text-danger" *ngIf="!smsQuotaValid()">{{ 'PROMOTIONS.INSUFICIENT_QUOTA' | translate }} ({{smsQuota}})</small>
    </div>
</form>