:host {
    display:block;
}

.login-panel {
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(215, 215, 215, 1);
	border-radius: 4px;
	margin-top: 50px;
	padding: 25px;
	
	.login-heading {
		font-size: 23px;
		color: rgba(53, 53, 53, 1);
		margin-bottom: 22px;
	}
}