<div class="modal-header">
    <h4 *ngIf="type == 'sms'" class="modal-title">{{ 'SMS_PACKS.TITLE' | translate }}</h4>
    <h4 *ngIf="type == 'push'" class="modal-title">{{ 'PUSH_PACKS.TITLE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'transparent' }"></ngx-loading>
    <div class="row" *ngIf="pack">
        <div class="col-12 col-sm-6 col-md-12 col-lg-6">
            <div>
                <div class="cyan bold lead">{{ 'SMS_PACKS.STOCK' | translate }}</div>
                <app-circle-progress
                    [subtitle]="subtitle"
                    [title]="quota" 
                    backgroundColor="#0cb3c2"
                    backgroundOpacity=1
                    backgroundStroke="#000000"
                    backgroundPadding="7"
                    radius=33
                    space=-3
                    maxPercent=100
                    unitsColor="#ffffff"
                    outerStrokeWidth=3
                    outerStrokeColor="#ffffff"
                    innerStrokeColor="#ffdf72"
                    innerStrokeWidth=3
                    titleColor="#ffffff"
                    titleFontSize="18"
                    subtitleColor="#ffffff"
                    subtitleFontSize=13
                    animationDuration=0
                    [showUnits]=false
                    percent="100">
                </app-circle-progress>
            </div>
            
            <form #form class="form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input name="cmd" type="hidden" value="_xclick" />
                <input name="business" type="hidden" value="VFCE629RSSW24" />
                <input name="lc" type="hidden" value="FR" />
                <input name="item_name" type="hidden" value="SMS Packs" />
                <input name="amount" type="hidden" value="{{ pack.price }}" />
                <input name="quantity" type="hidden" value="{{ packNumber }}" />
                <input name="button_subtype" type="hidden" value="services" />
                <input name="no_note" type="hidden" value="1" />
                <input name="no_shipping" type="hidden" value="1" />
                <input name="currency_code" type="hidden" value="{{ currency }}" />
                <input type="hidden" name="return" [ngModel]="redirectSuccessUrl" />
                <input type="hidden" name="cancel_return" [ngModel]="redirectCancelUrl" />
                <input name="bn" type="hidden" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted" />
                
                <div class="form-group">
                    <label for="stock" class="cyan sms-label">{{ 'SMS_PACKS.BUY' | translate }} {{ packNumber * pack.number }} <span *ngIf="type == 'sms'">{{ 'SMS_PACKS.ADD_SMS_LABEL' | translate }}</span><span *ngIf="type == 'push'">{{ 'PUSH_PACKS.ADD_PUSH_LABEL' | translate }}</span> {{ packNumber * pack.price }}{{ currency }}</label>
                    <input type="number" id="stock" name="stock" class="form-control mx-sm-3" min="1" max="10000" 
                            [(ngModel)]="packNumber" (keypress)="onInputChange($event)" step="1">
                </div>
                <input class="btn btn-primary btn-lg" (click)="form.submit()" type="submit" value="{{ 'SMS_PACKS.BUY_BTN' | translate }}">
                <!-- <input alt="PayPal, le réflexe sécurité pour payer en ligne" name="submit" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynowCC_LG.gif" type="image" /> -->
                <img src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />
            </form>

        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-6">
            <p class="lead theme-color bold">{{ 'SMS_PACKS.NEW_STOCK' | translate }}</p>                                            
            <app-circle-progress 
                [subtitle]="subtitle"
                [title]="(packNumber * pack.number) + quota" 
                backgroundColor="#fdbc00"
                backgroundOpacity=1
                backgroundStroke="#000000"
                backgroundPadding="10"
                radius=60
                space=-7
                maxPercent=100
                unitsColor="#ffffff"
                outerStrokeWidth=7
                outerStrokeColor="#ffffff"
                innerStrokeColor="#ffdf72"
                innerStrokeWidth=7
                titleColor="#ffffff"
                titleFontSize="30"
                subtitleColor="#ffffff"
                subtitleFontSize=14
                animationDuration=0
                [showUnits]="false"
                percent="80">
            </app-circle-progress>
        </div>
    </div>
</div>