<div class="row promotion-filters">
    <div class="col-12 col-lg-7">
        <form [formGroup]="form" class="form" (ngSubmit)="form.valid" novalidate>
            <ngb-tabset>
                <ngb-tab title="{{ 'TOOLBAR.CUSTOMERS' | translate }}">
                    <ng-template ngbTabContent>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" id="genderM" value="M"
                                    formControlName="customerGenderMale" class="form-check-input">
                                <label for="genderM" class="form-check-label">{{ 'COMMON.GENDER_M' | translate }}</label>
                            </div>
                            <div class="form-check-inline">
                                <input type="checkbox" id="genderF" value="F"
                                    formControlName="customerGenderFemale" class="form-check-input">
                                <label for="genderF" class="form-check-label">{{ 'COMMON.GENDER_F' | translate }}</label>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="city">{{ 'COMMON.CITY' | translate }}</label>
                            <angular2-multiselect [data]="citiesList" [(ngModel)]="selectedCities" 
                                [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)" 
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)" formControlName="cities"></angular2-multiselect>
                        </div> -->
                        <!-- <div class="form-group">
                            <label for="fav-product">{{ 'PROMOTIONS.FAVORITE_PRODUCT' | translate }}</label>
                            <select class="form-control form-control-sm" id="fav-product">
                                <option></option>
                            </select>
                        </div> -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="customer-age-from">{{ 'COMMON.AGE' | translate }}</label>
                                    <input type="number" step="1" min="0" max="130" class="form-control form-control-sm" 
                                           id="customer-age-from" formControlName="customerAgeFrom" />
                                </div>
                                <div class="col">
                                    <label for="customer-age-to">{{ 'COMMON.TO' | translate }}</label>
                                    <input type="number" step="1" min="0" max="130" class="form-control form-control-sm" 
                                            id="customer-age-to" formControlName="customerAgeTo" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customer-since">{{ 'PROMOTIONS.REGISTERED_SINCE' | translate }}</label>
                            <div class="input-group">
                                <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" formControlName="customerSince"
                                       id="customer-since" ngbDatepicker #since="ngbDatepicker">
                                <button class="input-group-addon" (click)="since.toggle()" type="button">
                                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col pr-0">
                                    <label for="last-entry-from">{{ 'CUSTOMERS.LAST_ENTRY' | translate }}</label>
                                    <div class="input-group">
                                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" formControlName="lastEntryFrom"
                                                id="last-entry-from" ngbDatepicker #entryFrom="ngbDatepicker">
                                        <button class="input-group-addon" (click)="entryFrom.toggle()" type="button">
                                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col pr-0">
                                    <label for="last-entry-to">{{ 'COMMON.TO' | translate }}</label>
                                    <div class="input-group">
                                        <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" formControlName="lastEntryTo"
                                                id="last-entry-to" ngbDatepicker #entryTo="ngbDatepicker">
                                        <button class="input-group-addon" (click)="entryTo.toggle()" type="button">
                                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="{{ 'COMMON.POINTS' | translate }}">
                    <ng-template ngbTabContent>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="current-points-min">{{ 'CUSTOMERS.CURRENT_POINTS' | translate }}</label>
                                    <input type="number" min="0" class="form-control form-control-sm" id="current-points-min"
                                           formControlName="currentPointsMin" placeholder="0" />
                                </div>
                                <div class="col">
                                    <label for="current-points-max">{{ 'COMMON.TO' | translate }}</label>
                                    <input type="number" min="0" class="form-control form-control-sm" id="current-points-max"
                                           formControlName="currentPointsMax" placeholder="10" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label for="purchase-amount-min">{{ 'PROMOTIONS.EXPENSES' | translate }}</label>
                                    <input type="number" min="0" class="form-control form-control-sm" id="purchase-amount-min"
                                        formControlName="purchaseAmountMin" placeholder="0" />
                                </div>
                                <div class="col">
                                    <label for="purchase-amount-max">{{ 'COMMON.TO' | translate }}</label>
                                    <input type="number" min="0" class="form-control form-control-sm" id="purchase-amount-max"
                                           formControlName="purchaseAmountMax" placeholder="1000" />
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="cumulated-points-min">Accumulated points</label>
                            <div class="form-inline">
                                <div>
                                    <input type="number" min="0" class="form-control form-control-sm" id="cumulated-points-min"
                                           formControlName="cumulatedPointsMin" placeholder="0" />
                                    to
                                    <input type="number" min="0" class="form-control form-control-sm" id="cumulated-points-max"
                                           formControlName="cumulatedPointsMax" placeholder="1000" />
                                    points
                                </div>
                            </div>
                        </div> -->
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="{{ 'TOOLBAR.PROMOTIONS' | translate }}">
                    <ng-template ngbTabContent>
                        <div class="form-group">
                            <label for="received">{{ 'PROMOTIONS.RECEIVED' | translate }}</label>
                            <select formControlName="receivedPromotion" class="form-control" id="received">
                                <option *ngFor="let p of promotions" [ngValue]="p.id">{{p.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="didnt-received">{{ 'PROMOTIONS.NOT_RECEIVED' | translate }}</label>
                            <select formControlName="didntReceivePromotion" class="form-control" id="didnt-received">
                                <option *ngFor="let p of promotions" [ngValue]="p.id">{{p.name}}</option>
                            </select>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </form>
    </div>
    <div class="col col-lg-5">
        <div class="promotion-result">
            <app-circle-progress *ngIf="totalNbCustomers != null && nbRecipients != null" 
                subtitle="{{ 'PROMOTIONS.RECIPIENTS' | translate }}"
                [title]="nbRecipients" 
                backgroundColor="#0cb3c2"
                backgroundOpacity=1
                backgroundStroke="#000000"
                backgroundPadding="10"
                radius=60
                space=-7
                maxPercent=100
                unitsColor="#ffffff"
                outerStrokeWidth=7
                outerStrokeColor="#ffffff"
                innerStrokeColor="#88d2df"
                innerStrokeWidth=7
                titleColor="#ffffff"
                titleFontSize="35"
                subtitleColor="#ffffff"
                subtitleFontSize=15
                animationDuration=500 
                [showUnits]=false
                [percent]="(nbRecipients / totalNbCustomers) * 100">
            </app-circle-progress>
            <!-- Promotion will be sent to <b>{{nbCustomers}}</b> customers
            <br />
            <button type="button" class="btn btn-link" (click)="details()">See details</button> -->
        </div>
    </div>
</div>