@import "~bootstrap/scss/bootstrap";
@import '../../../styles/_variables';

:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
}

#sidebar {
    z-index: 1000;
    height: calc(100vh - 4rem);
    background-color: #303030;
    overflow-y: auto;
    height: 100%;

    .logo {
        margin: 2rem 0;
        text-align: center;

        img {
            max-width: 150px;
        }
    }
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #303030;
    color: #e3e3e3;
    border-left: 0;
    border-right: 0;
    border: none !important;
    padding: 0.5rem .9rem;
    white-space: nowrap;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .sidebar-collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .sidebar-collapse > .sidebar-collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .sidebar-collapse > .sidebar-collapse > .sidebar-collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width: 576px) {
    /* overlay sub levels on small screens */
    #sidebar {
        position: sticky !important;
    }

    #sidebar .list-group .sidebar-collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group .list-group-item {
        text-align: center;
        padding-top: .75rem;
        padding-bottom: .75rem;
        padding-left: .5rem;
        padding-right: 2rem;

        span {
            display: none;
        }
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

a.active {
    color: black !important;
    font-weight: bold;
    background: none;
    border: 0;
    background-color: $theme-color !important;
    transition: all 0.2s ease;
}
