:host {
    display:block;
}

.sms-preview {
    white-space: pre;
    border: 1px solid #ddd;
    padding: 10px 7px;
    background: #efefef;
    margin: 10px 0;
    font-family: Verdana;
    font-size: 13px;
}