<div class="container content-container customer-container">
    <div class="row">
        <div class="col-12 text-align-center mb-4"> 
            <button (click)="openScanner()" class="btn btn-lg btn-secondary" type="submit">
                <i class="fa fa-qrcode fa-lg"></i> {{ 'CUSTOMERS.SCAN' | translate }}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12">
            <h4 class="card-title">{{ 'CUSTOMERS.SEARCH' | translate }}</h4>
        </div>
        <div class="col">
            <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-fw"></i>                
            <span *ngIf="!loading">{{ 'CUSTOMERS.COUNT' | translate:{count: customersCount} }}</span>
        </div>
    </div>
    <customer-search (onSearch)="updateCustomers($event)" [itemsPerPage]="20"></customer-search>
    <app-customer-table [customers]="customers" [sortable]="true" [filterable]="false" 
        title="{{ 'TOOLBAR.CUSTOMERS' | translate }}" [itemsPerPage]="20">
    </app-customer-table>
</div>