:host {
    display: block;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: #ffaa00; //steelblue;
    stroke-width: 2px;
}

.area {
  fill: #ffc600; //lightsteelblue;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #ffaa00;
  stroke-width: 1.5px;
}
  
.hover-line {
  stroke: #F1F3F3;
  stroke-width: 1.5px;
  stroke-dasharray: 3,3;
}

.legend-back {
  fill: #efefef;
  stroke: #aaa;
  opacity: 0.9;
}

.legend-date, .legend-amount {
  font-size: 12px;
  fill: #444;
}

.legend-amount {
  font-weight: bold;
}

.legend-date {
  font-size: 10.5px;
}