<form *ngIf="onSearch.observers && onSearch.observers.length > 0" 
      [formGroup]="form" class="form-inline" (ngSubmit)="form.valid && submit()" novalidate>
    <div class="form-group">
        <label for="dateFrom" class="form-control-sm">{{ 'COMMON.FROM' | translate }}</label>
        <div class="input-group pl-0 col-md-3">
            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" formControlName="dateFrom"
                    id="dateFrom" ngbDatepicker #from="ngbDatepicker">
            <button class="input-group-append" (click)="from.toggle()" type="button">
                <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
            </button>
            <div *ngIf="dateFrom.invalid && (dateFrom.dirty || dateFrom.touched)" class="invalid-field">
                {{ 'FORM.INVALID_DATE' | translate }}
            </div>
        </div>
        <label for="dateTo" class="form-control-sm">{{ 'COMMON.TO' | translate }}</label>
        <div class="input-group pl-0 col-md-3">
            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" formControlName="dateTo"
                    id="dateTo" ngbDatepicker #to="ngbDatepicker">
            <button class="input-group-append" (click)="to.toggle()" type="button">
                <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
            </button>
            <div *ngIf="dateTo.invalid && (dateTo.dirty || dateTo.touched)" class="invalid-field">
                {{ 'FORM.INVALID_DATE' | translate }}
            </div>
            <div class="invalid-field" *ngIf="form.errors">{{ form.errors?.dates | json }}</div>            
        </div>
        
       <app-submit-button [form]="form" value="{{ 'COMMON.SUBMIT' | translate }}" buttonClass="btn btn-primary btn-sm"
           loadingValue="{{ 'COMMON.LOADING' | translate }}" [subscription]="dataSubscription">
       </app-submit-button>  
    </div>    
</form>

<svg width="100%" height="400"></svg>