:host {
    display: block;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: steelblue;
  stroke-width: 3px;
}
  
.hover-line {
  stroke: steelblue;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}